.menu__block .webaccess::before {
  content: '';
  display: block;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body.menu__opened {
  overflow: hidden;
}

.menu__block {
  position: fixed;
  top: 0;
  padding-top: 55px;
  padding-bottom: 55px;
  height: 100%;
  background-color: #597b77;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: scroll;
  z-index: 5;
}
@media (min-width: 1024px) {
  .menu__block {
    padding-top: 105px;
    padding-bottom: 105px;
  }
}
.menu__block.default {
  right: -100%;
  margin-right: -100%;
}
.menu__block.active {
  right: 0%;
  margin-right: 0%;
}
@media (min-width: 1024px) {
  .menu__block .pagination {
    margin-right: 40px;
  }
}
.menu__block .pagination li + li {
  margin-top: 5px;
}
.menu__block .pagination li a {
  display: block;
  padding: 10px 0;
}
.menu__block .pagination li a > span {
  display: block;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__block .pagination li a > span.zhtw {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .menu__block .pagination li a > span.zhtw {
    font-size: 24px;
  }
}
.menu__block .pagination li a > span.eng {
  color: #a8c2bf;
  line-height: 1;
}
@media (max-width: 1023px) {
  .menu__block .pagination li a > span.eng {
    font-size: 14px;
  }
}
.menu__block .pagination li a.disabled > span {
  color: #a8c2bf;
}
@media (min-width: 1024px) {
  .menu__block .pagination li a:hover > span.zhtw, .menu__block .pagination li a:hover > span.eng {
    color: #f8b136;
  }
}
.menu__block .pagination li a.disabled:hover > span.zhtw, .menu__block .pagination li a.disabled:hover > span.eng {
  color: #a8c2bf;
}
.menu__block .webaccess {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  letter-spacing: 0.05em;
}
@media (min-width: 1024px) {
  .menu__block .webaccess {
    margin-top: 50px;
    padding-top: 50px;
    margin-right: 40px;
  }
}
.menu__block .webaccess::before {
  position: absolute;
  top: -1px;
  right: 0;
  width: 35px;
  height: 2px;
  background-color: #d8d8d8;
}
.menu__block .webaccess .title {
  color: #f8b136;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.menu__block .webaccess ul li {
  margin-top: 10px;
  margin-left: 5px;
}
@media (min-width: 375px) {
  .menu__block .webaccess ul li {
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .menu__block .webaccess ul li {
    margin-top: 15px;
    margin-left: 20px;
  }
}
.menu__block .webaccess ul li a {
  display: block;
  padding: 2px 7px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
}
@media (max-width: 1023px) {
  .menu__block .webaccess ul li a {
    letter-spacing: normal;
  }
}
@media (min-width: 375px) {
  .menu__block .webaccess ul li a {
    padding: 2px 10px;
  }
}
@media (min-width: 1024px) {
  .menu__block .webaccess ul li a {
    padding: 1px 20px;
  }
}
.menu__block .webaccess ul li a span {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .menu__block .webaccess ul li a span {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .menu__block .webaccess ul li a:hover {
    color: #000;
    background-color: #f8b136;
    border-color: #f8b136;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (max-width: 1023px) {
  nav {
    width: 100%;
  }
}
nav.scrollUp {
  position: fixed;
}
@media (max-width: 1023px) {
  nav.firstscreen {
    background-color: #fff;
  }
}
@media (min-width: 1024px) {
  nav.firstscreen a.logo {
    background-color: #fff;
  }
  nav.firstscreen .hamburger {
    background-color: #fff;
  }
}
nav.menu__opened svg {
  height: 31px;
}
@media (min-width: 1024px) {
  nav.menu__opened svg {
    height: 44px;
  }
}
nav.menu__opened svg .st0 {
  fill: #fff;
}
@media (max-width: 1023px) {
  nav.menu__opened {
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  nav.menu__opened a.logo {
    background-color: transparent;
  }
  nav.menu__opened .hamburger {
    background-color: transparent;
  }
}
nav.menu__opened .hamburger > span {
  background-color: #fff;
}
nav a {
  display: block;
  padding: 10px;
}
@media (min-width: 1024px) {
  nav a {
    padding: 15px 20px;
  }
  nav a.logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
nav a svg {
  display: block;
  height: 31px;
}
@media (min-width: 1024px) {
  nav a svg {
    height: 44px;
  }
}
nav a svg .st0 {
  fill: #1A1A1A;
}
nav a svg .st1 {
  fill: none;
  stroke: #E72F00;
  stroke-width: 15;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
nav .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 11px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  nav .hamburger {
    padding: 16px 19px 17px;
  }
}
nav .hamburger > span {
  width: 28px;
  height: 3px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  -moz-transition: -moz-transform 0.3s, background 0.3s;
  -o-transition: -o-transform 0.3s, background 0.3s;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s;
  transition: transform 0.3s, background 0.3s;
}
@media (min-width: 1024px) {
  nav .hamburger > span {
    width: 36px;
    margin: 8px auto;
  }
}
nav .hamburger:hover > span {
  background-color: #f8b136;
}
nav .hamburger.active > span:nth-child(2) {
  opacity: 0;
}
nav .hamburger.active > span:nth-child(1) {
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -webkit-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}
@media (min-width: 1024px) {
  nav .hamburger.active > span:nth-child(1) {
    -moz-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
  }
}
nav .hamburger.active > span:nth-child(3) {
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -webkit-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}
@media (min-width: 1024px) {
  nav .hamburger.active > span:nth-child(3) {
    -moz-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -webkit-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
  }
}

/*# sourceMappingURL=header.css.map */
