section::before, .click__alert::before, .candidate__item .candidate__base::before, .candidate__item .candidate__base::after, .candidate__item .candidate__keyword::before, .candidate__item .candidate__keyword::after, .candidate__item .candidate__keyword li::before, .model__close::before, .model__close::after, .hot__group .hot__content::after {
  content: '';
  display: block;
}

.further__block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: '2020';
  src: url("../fonts/2020.eot?yojrw2");
  src: url("../fonts/2020.eot?yojrw2#iefix") format("embedded-opentype"), url("../fonts/2020.ttf?yojrw2") format("truetype"), url("../fonts/2020.woff?yojrw2") format("woff"), url("../fonts/2020.svg?yojrw2#2020") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '2020' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e903";
}

.icon-instagram:before,
.icon-ig:before {
  content: "\e901";
}

.icon-youtube:before {
  content: "\e902";
}

.icon-left:before {
  content: "\e91e";
}

.icon-right:before {
  content: "\e91f";
}

.icon-down:before {
  content: "\e920";
}

.icon-up:before {
  content: "\e922";
}

.icon-cancel:before {
  content: "\e92e";
}

.icon-facebook:before,
.icon-fb:before {
  content: "\e900";
}

input,
select,
button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
input:focus,
select:focus,
button:focus {
  outline: 0;
}

select {
  min-width: 200px;
  padding: 0.925rem 1.925rem 0.925rem .925rem;
  line-height: 1;
  border: 2px solid;
  cursor: pointer;
  -moz-background-size: 0.78125rem;
  -o-background-size: 0.78125rem;
  -webkit-background-size: 0.78125rem;
  background-size: 0.78125rem;
  background-image: url("../images/down.svg");
  background-position: calc(100% - 0.78125rem) center;
  background-repeat: no-repeat;
  background-color: transparent;
}
@media (max-width: 767px) {
  select {
    width: 235px;
  }
}

button {
  border: 0;
  background-color: transparent;
}
button.close {
  padding: 0;
  color: #93AAA7;
  font-size: 40px;
  line-height: 1;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
button.close span {
  display: block;
  line-height: 24px;
}
button.close span i {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
button.close:hover {
  color: #597B77;
}

header {
  height: 127.5vh;
  background-position: bottom center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/legislator_opeing-pc.svg");
}
@media (orientation: portrait) {
  header {
    background-image: url("../images/legislator_opeing-mb.svg");
  }
}
header .container {
  height: 100vh;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
}
footer span {
  display: inline-block;
}

section {
  position: relative;
  padding: 50px 0;
}
@media (min-width: 768px) {
  section {
    padding: 40px 0 120px;
  }
}
section::before {
  position: relative;
  top: -42px;
  left: 50%;
  width: 30px;
  height: 4px;
  background-color: #597B77;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

p {
  font-size: 18px;
}

.page__essay {
  padding: 130px 0 100px 0;
}

.method__essay {
  padding-top: 80px;
  padding-bottom: 100px;
}
.method__essay > * {
  font-size: 15px;
}

.further__block .h4 {
  font-size: 21px;
  font-weight: 600;
}
.further__block ul {
  font-size: 24px;
}
.further__block ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}
.further__block ul li:first-child a {
  color: #22AFE3;
}
.further__block ul li:last-child a {
  color: #5ECAA4;
}
.further__block ul li a:hover {
  color: #343434;
}
.further__block ul i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  font-size: 30px;
}
.further__block ul span {
  display: inline-block;
  vertical-align: middle;
}

.form-group-title i {
  display: inline-block;
  vertical-align: text-top;
}
@media (max-width: 767px) {
  .form-group-title i {
    display: none;
  }
}

.click__alert {
  position: absolute;
  top: 70px;
  right: 70px;
  padding: 60px 0 0 60px;
  z-index: 3;
}
.click__alert::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #fcf757;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: -1;
}

.candidate__item {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid;
}
@media (min-width: 768px) {
  .candidate__item {
    padding: 30px 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .candidate__item .candidate__base::before, .candidate__item .candidate__base::after {
    clear: both;
  }
}
.candidate__item .candidate__img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .candidate__item .candidate__img {
    display: inline-block;
    margin-right: 10px;
    width: 65px;
    height: 65px;
    vertical-align: middle;
  }
}
@media (min-width: 768px) {
  .candidate__item .candidate__img {
    float: left;
    margin-right: 30px;
    width: 100px;
    height: 100px;
  }
}
.candidate__item .candidate__img img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border: 1px solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.candidate__item .candidate__name {
  display: inline-block;
}
@media (max-width: 767px) {
  .candidate__item .candidate__name {
    vertical-align: middle;
  }
}
@media (min-width: 768px) {
  .candidate__item .candidate__name {
    vertical-align: top;
  }
}
.candidate__item .candidate__name .name.name--han {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
@media (max-width: 767px) {
  .candidate__item .candidate__name .name.name--han {
    line-height: 1.15;
  }
}
.candidate__item .candidate__name .name.name--han .age {
  display: inline-block;
  margin-left: 12px;
  color: #666;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.candidate__item .candidate__name .name.name--eng {
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .candidate__item .candidate__detail {
    display: inline-block;
    vertical-align: top;
  }
}
.candidate__item .candidate__perform,
.candidate__item .candidate__family {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 6px 10px 4px;
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #3E3E3E;
  background-color: #3E3E3E;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .candidate__item .candidate__perform,
  .candidate__item .candidate__family {
    padding: 8px 20px;
  }
}
.candidate__item .candidate__perform > i,
.candidate__item .candidate__family > i {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
}
.candidate__item .candidate__perform:hover,
.candidate__item .candidate__family:hover {
  border: 1px solid #000;
  background-color: #000;
}
@media (min-width: 768px) {
  .candidate__item .candidate__name {
    margin-right: 48px;
  }
}
@media (max-width: 767px) {
  .candidate__item .candidate__name {
    width: calc(100% - 95px);
    margin-right: 20px;
  }
}
.candidate__item .candidate__keyword {
  width: 100%;
}
@media (min-width: 768px) {
  .candidate__item .candidate__keyword {
    padding: 16px 0 0 130px;
  }
}
@media (max-width: 767px) {
  .candidate__item .candidate__keyword {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .candidate__item .candidate__keyword::before, .candidate__item .candidate__keyword::after {
    clear: both;
  }
}
.candidate__item .candidate__keyword li {
  position: relative;
  display: inline-block;
  margin-bottom: 7px;
  padding: 8px 5px 4px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 768px) {
  .candidate__item .candidate__keyword li {
    margin-left: -17px;
    margin-right: 17px;
    padding: 12px 17px 8px;
    font-size: 20px;
  }
}
.candidate__item .candidate__keyword li:nth-child(1), .candidate__item .candidate__keyword li:nth-child(2) {
  font-size: 30px;
}
@media (min-width: 768px) {
  .candidate__item .candidate__keyword li:nth-child(1), .candidate__item .candidate__keyword li:nth-child(2) {
    font-size: 40px;
  }
}
.candidate__item .candidate__keyword li:nth-child(3), .candidate__item .candidate__keyword li:nth-child(4) {
  font-size: 24px;
}
@media (min-width: 768px) {
  .candidate__item .candidate__keyword li:nth-child(3), .candidate__item .candidate__keyword li:nth-child(4) {
    font-size: 30px;
  }
}
.candidate__item .candidate__keyword li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FCF757;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: -1;
}
.candidate__item .candidate__keyword li:hover::before {
  width: 100%;
}
.candidate__item .candidate__keyword.disabled li {
  padding: 0;
  color: #B1B1B1;
  font-size: 20px;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .candidate__item .candidate__keyword.disabled li {
    padding: 0 17px;
  }
}
.candidate__item .candidate__keyword.disabled li::before {
  background-color: transparent;
}
.candidate__item .candidate__party {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 2em;
  padding: 0.67em 0.5em 0.7em;
  color: #fff;
  font-size: 0.875em;
  text-align: center;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .candidate__item .candidate__party {
    width: 2.4em;
    padding: 0.67em 0.7em 0.7em;
  }
}
.candidate__item.candidate--kmt {
  border-color: #22AFE3;
}
.candidate__item.candidate--kmt .candidate__img {
  background-color: #22AFE3;
}
.candidate__item.candidate--kmt .candidate__img img {
  border-color: #22AFE3;
}
.candidate__item.candidate--kmt .candidate__keyword {
  color: #22AFE3;
}
.candidate__item.candidate--kmt .candidate__party {
  background-color: #22AFE3;
}
.candidate__item.candidate--ddp {
  border-color: #5ECAA4;
}
.candidate__item.candidate--ddp .candidate__img {
  background-color: #5ECAA4;
}
.candidate__item.candidate--ddp .candidate__img img {
  border-color: #5ECAA4;
}
.candidate__item.candidate--ddp .candidate__keyword {
  color: #5ECAA4;
}
.candidate__item.candidate--ddp .candidate__party {
  background-color: #5ECAA4;
}
.candidate__item.candidate--tpp {
  border-color: #2BBEC4;
}
.candidate__item.candidate--tpp .candidate__img {
  background-color: #2BBEC4;
}
.candidate__item.candidate--tpp .candidate__img img {
  border-color: #2BBEC4;
}
.candidate__item.candidate--tpp .candidate__keyword {
  color: #2BBEC4;
}
.candidate__item.candidate--tpp .candidate__party {
  background-color: #2BBEC4;
}
.candidate__item.candidate--pfp {
  border-color: #F8B136;
}
.candidate__item.candidate--pfp .candidate__img {
  background-color: #F8B136;
}
.candidate__item.candidate--pfp .candidate__img img {
  border-color: #F8B136;
}
.candidate__item.candidate--pfp .candidate__keyword {
  color: #F8B136;
}
.candidate__item.candidate--pfp .candidate__party {
  background-color: #F8B136;
}
.candidate__item.candidate--npp {
  border-color: #DCB000;
}
.candidate__item.candidate--npp .candidate__img {
  background-color: #DCB000;
}
.candidate__item.candidate--npp .candidate__img img {
  border-color: #DCB000;
}
.candidate__item.candidate--npp .candidate__keyword {
  color: #DCB000;
}
.candidate__item.candidate--npp .candidate__party {
  background-color: #DCB000;
}
.candidate__item.candidate--npsu {
  border-color: #B1B1B1;
}
.candidate__item.candidate--npsu .candidate__img {
  background-color: #B1B1B1;
}
.candidate__item.candidate--npsu .candidate__img img {
  border-color: #B1B1B1;
}
.candidate__item.candidate--npsu .candidate__keyword {
  color: #B1B1B1;
}
.candidate__item.candidate--npsu .candidate__party {
  background-color: #B1B1B1;
}
.candidate__item.candidate--other {
  border-color: #343434;
}
.candidate__item.candidate--other .candidate__img {
  background-color: #343434;
}
.candidate__item.candidate--other .candidate__img img {
  border-color: #343434;
}
.candidate__item.candidate--other .candidate__keyword {
  color: #343434;
}
.candidate__item.candidate--other .candidate__party {
  background-color: #343434;
}

.modal-header,
.modal-footer {
  border: 0px;
}

.perform__model,
.family__model {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  padding: 20px;
  color: #fff;
  background-color: #2e2e2e;
  box-shadow: 0 3px 6px rgba(46, 46, 46, 0.25);
  z-index: 1;
}
.perform__model .perform__title,
.perform__model .family__title,
.family__model .perform__title,
.family__model .family__title {
  font-size: 18px;
  font-weight: 600;
}

.model__close {
  position: absolute;
  top: 13px;
  right: 10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.model__close::before, .model__close::after {
  width: 20px;
  height: 3px;
  background-color: #93AAA7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.model__close::before {
  -moz-transform: rotate(45deg) translate(6px, 6px);
  -ms-transform: rotate(45deg) translate(6px, 6px);
  -webkit-transform: rotate(45deg) translate(6px, 6px);
  transform: rotate(45deg) translate(6px, 6px);
}
.model__close::after {
  -moz-transform: rotate(-45deg) translate(-4px, 4px);
  -ms-transform: rotate(-45deg) translate(-4px, 4px);
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.rate__block {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rate__block li {
  border-bottom: 1px solid #777777;
}
.rate__block li > * {
  display: inline-block;
  vertical-align: middle;
}
.rate__block li .title {
  width: calc(100% - 80px);
  padding: 10px 0;
  font-size: 16px;
}
.rate__block li .title span {
  display: inline-block;
  color: #E5E5E5;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  vertical-align: middle;
}
.rate__block li .rate {
  width: 80px;
  font-size: 18px;
  text-align: center;
}

.keyword__block span.date {
  display: inline-block;
  padding: 0 6px;
  margin-right: 5px;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
  background-color: #B1B1B1;
}
.keyword__block > div {
  display: inline;
}
.keyword__block > div a {
  margin-right: 5px;
  color: #343434;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.keyword__block > div a:hover {
  color: #597B77;
}
.keyword__block > div [class*='fa'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #343434;
  font-size: 15px;
  vertical-align: middle;
}
.keyword__block > div [class*='fa']::before {
  display: inline-block;
  font-family: "Font Awesome 5 Brands";
}
.keyword__block > div .fa-fb::before {
  content: "\f39e";
}
.keyword__block > div .fa-yt::before {
  content: "\f167";
  font-size: 16px;
}
.keyword__block > div .fa-ig::before {
  content: "\f16d";
  font-size: 16px;
}

.opacity {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.tab__group .tab__nav {
  font-size: 0;
}
.tab__group .tab__nav li {
  display: inline-block;
  width: 170px;
  margin: 13px;
  font-size: 20px;
  color: #343434;
  line-height: 50px;
  text-align: center;
  border: 2px solid #707070;
  cursor: pointer;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}
.tab__group .tab__nav li.active[data-value*="labor_rights"], .tab__group .tab__nav li:hover[data-value*="labor_rights"] {
  background-color: #22afe3;
}
.tab__group .tab__nav li.active[data-value*="annuity_reform"], .tab__group .tab__nav li:hover[data-value*="annuity_reform"] {
  background-color: #55c1e9;
}
.tab__group .tab__nav li.active[data-value*="gender_issues"], .tab__group .tab__nav li:hover[data-value*="gender_issues"] {
  background-color: #5ecaa4;
}
.tab__group .tab__nav li.active[data-value*="education_reform"], .tab__group .tab__nav li:hover[data-value*="education_reform"] {
  background-color: #7ed1ef;
}
.tab__group .tab__nav li.active[data-value*="energy"], .tab__group .tab__nav li:hover[data-value*="energy"] {
  background-color: #a1dbf1;
}
.tab__group .tab__nav li.active[data-value*="climate_change"], .tab__group .tab__nav li:hover[data-value*="climate_change"] {
  background-color: #77d9b7;
}
.tab__group .tab__nav li.active[data-value*="surroundings"], .tab__group .tab__nav li:hover[data-value*="surroundings"] {
  background-color: #93ebcc;
}
.tab__group .tab__nav li.active[data-value*="eco_and_industrial_development"], .tab__group .tab__nav li:hover[data-value*="eco_and_industrial_development"] {
  background-color: #93aaa7;
}
.tab__group .tab__nav li.active[data-value*="residence_justice"], .tab__group .tab__nav li:hover[data-value*="residence_justice"] {
  background-color: #2fa9ae;
}
.tab__group .tab__nav li.active[data-value*="social_welfare"], .tab__group .tab__nav li:hover[data-value*="social_welfare"] {
  background-color: #2bbec4;
}
.tab__group .tab__nav li.active[data-value*="returning"], .tab__group .tab__nav li:hover[data-value*="returning"] {
  background-color: #dbc0b2;
}
.tab__group .tab__nav li.active[data-value*="national_identity"], .tab__group .tab__nav li:hover[data-value*="national_identity"] {
  background-color: #e5b896;
}
.tab__group .tab__nav li.active[data-value*="tw_usa_relations"], .tab__group .tab__nav li:hover[data-value*="tw_usa_relations"] {
  background-color: #f9d956;
}
.tab__group .tab__nav li.active[data-value*="diplomatic"], .tab__group .tab__nav li:hover[data-value*="diplomatic"] {
  background-color: #e8c436;
}
.tab__group .tab__nav li.active[data-value*="cross_strait_relations"], .tab__group .tab__nav li:hover[data-value*="cross_strait_relations"] {
  background-color: #dcb000;
}
.tab__group .tab__item {
  height: 0;
  overflow: hidden;
}
.tab__group .tab__item.active {
  height: auto;
  overflow: visible;
}
.tab__group .tab__item .img__chart {
  padding-top: 30px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .tab__group .tab__item .img__chart {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .tab__group .tab__item .img__chart {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.tab__group .tab__item[data-item*="eco_and_industrial_development"] .hot__content span,
.tab__group .tab__item[data-item*="eco_and_industrial_development"] .img__chart .chart--line .line span {
  background-color: #93aaa7;
}
.tab__group .tab__item[data-item*="labor_rights"] .hot__content span,
.tab__group .tab__item[data-item*="labor_rights"] .img__chart .chart--line .line span {
  background-color: #22afe3;
}
.tab__group .tab__item[data-item*="surroundings"] .hot__content span,
.tab__group .tab__item[data-item*="surroundings"] .img__chart .chart--line .line span {
  background-color: #93ebcc;
}
.tab__group .tab__item[data-item*="energy"] .hot__content span,
.tab__group .tab__item[data-item*="energy"] .img__chart .chart--line .line span {
  background-color: #a1dbf1;
}
.tab__group .tab__item[data-item*="climate_change"] .hot__content span,
.tab__group .tab__item[data-item*="climate_change"] .img__chart .chart--line .line span {
  background-color: #77d9b7;
}
.tab__group .tab__item[data-item*="annuity_reform"] .hot__content span,
.tab__group .tab__item[data-item*="annuity_reform"] .img__chart .chart--line .line span {
  background-color: #55c1e9;
}
.tab__group .tab__item[data-item*="gender_issues"] .hot__content span,
.tab__group .tab__item[data-item*="gender_issues"] .img__chart .chart--line .line span {
  background-color: #5ecaa4;
}
.tab__group .tab__item[data-item*="education_reform"] .hot__content span,
.tab__group .tab__item[data-item*="education_reform"] .img__chart .chart--line .line span {
  background-color: #7ed1ef;
}
.tab__group .tab__item[data-item*="residence_justice"] .hot__content span,
.tab__group .tab__item[data-item*="residence_justice"] .img__chart .chart--line .line span {
  background-color: #2fa9ae;
}
.tab__group .tab__item[data-item*="national_identity"] .hot__content span,
.tab__group .tab__item[data-item*="national_identity"] .img__chart .chart--line .line span {
  background-color: #e5b896;
}
.tab__group .tab__item[data-item*="cross_strait_relations"] .hot__content span,
.tab__group .tab__item[data-item*="cross_strait_relations"] .img__chart .chart--line .line span {
  background-color: #dcb000;
}
.tab__group .tab__item[data-item*="tw_usa_relations"] .hot__content span,
.tab__group .tab__item[data-item*="tw_usa_relations"] .img__chart .chart--line .line span {
  background-color: #f9d956;
}
.tab__group .tab__item[data-item*="diplomatic"] .hot__content span,
.tab__group .tab__item[data-item*="diplomatic"] .img__chart .chart--line .line span {
  background-color: #e8c436;
}
.tab__group .tab__item[data-item*="returning"] .hot__content span,
.tab__group .tab__item[data-item*="returning"] .img__chart .chart--line .line span {
  background-color: #dbc0b2;
}
.tab__group .tab__item[data-item*="social_welfare"] .hot__content span,
.tab__group .tab__item[data-item*="social_welfare"] .img__chart .chart--line .line span {
  background-color: #2bbec4;
}

.hot__block .hot__content,
.hot__group .hot__content {
  position: relative;
  font-size: 14px;
  line-height: 2;
}
.hot__block .hot__content .date,
.hot__group .hot__content .date {
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
}
.hot__block .hot__content b,
.hot__group .hot__content b {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  vertical-align: middle;
}
.hot__block .hot__content i,
.hot__group .hot__content i {
  display: inline-block;
  vertical-align: middle;
}
.hot__block .hot__content > a,
.hot__group .hot__content > a {
  color: #343434;
}
.hot__block .hot__content > a:focus,
.hot__group .hot__content > a:focus {
  outline: 0;
}
.hot__block .hot__content > a:hover,
.hot__group .hot__content > a:hover {
  color: #597B77;
}

.hot__block .hot__item.eco_and_industrial_development .date {
  background-color: #93aaa7;
}
.hot__block .hot__item.labor_rights .date {
  background-color: #22afe3;
}
.hot__block .hot__item.surroundings .date {
  background-color: #93ebcc;
}
.hot__block .hot__item.energy .date {
  background-color: #a1dbf1;
}
.hot__block .hot__item.climate_change .date {
  background-color: #77d9b7;
}
.hot__block .hot__item.annuity_reform .date {
  background-color: #55c1e9;
}
.hot__block .hot__item.gender_issues .date {
  background-color: #5ecaa4;
}
.hot__block .hot__item.education_reform .date {
  background-color: #7ed1ef;
}
.hot__block .hot__item.residence_justice .hot__content span,
.hot__block .hot__item.residence_justice .img__chart .chart--line .line span {
  background-color: #2fa9ae;
}
.hot__block .hot__item.national_identity .date {
  background-color: #e5b896;
}
.hot__block .hot__item.cross_strait_relations .date {
  background-color: #dcb000;
}
.hot__block .hot__item.tw_usa_relations .date {
  background-color: #f9d956;
}
.hot__block .hot__item.diplomatic .date {
  background-color: #e8c436;
}
.hot__block .hot__item.returning .date {
  background-color: #dbc0b2;
}
.hot__block .hot__item.social_welfare .date {
  background-color: #2bbec4;
}

.hot__group .slick-slide {
  padding: 0 27px;
}
.hot__group .hot__item {
  position: relative;
  padding-bottom: 10px;
  border-top: 3px solid #343434;
}
.hot__group .hot__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
.hot__group .hot__more {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 0 12px;
  color: #343434;
  font-size: 16px;
  line-height: 33px;
  border: 1px solid #343434;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.hot__group .hot__more:hover {
  color: #fff;
  background-color: #597B77;
}
.hot__group .hot__content {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.hot__group .hot__content::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
}

.img__chart .chart {
  width: 83%;
  margin: 0 10px;
}
@media (min-width: 768px) {
  .img__chart .chart {
    margin: 0 10px 0 20px;
  }
}
.img__chart .chart--yAxis {
  font-size: 16px;
  line-height: 20px;
  word-break: keep-all;
}
@media (min-width: 768px) {
  .img__chart .chart--yAxis {
    font-size: 20px;
  }
}
.img__chart .chart--yAxis > div {
  margin-top: 15px;
}
.img__chart .chart--number {
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .img__chart .chart--number {
    font-size: 16px;
  }
}
.img__chart .chart--number > div {
  margin-top: 15px;
}
.img__chart .chart--xAxis {
  position: relative;
  height: 14px;
  color: #A2A2A2;
  font-size: 14px;
}
@media (min-width: 768px) {
  .img__chart .chart--xAxis {
    font-size: 16px;
    height: 16px;
  }
}
.img__chart .chart--xAxis .xAxis {
  position: absolute;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.img__chart .chart--xAxis .xAxis.xAxis--0 {
  left: 0;
}
.img__chart .chart--xAxis .xAxis.xAxis--50 {
  left: 50%;
}
.img__chart .chart--xAxis .xAxis.xAxis--100 {
  left: 100%;
}
.img__chart .chart--line {
  position: relative;
}
.img__chart .chart--line .divi {
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
.img__chart .chart--line .divi.divi--25 {
  left: 25%;
}
.img__chart .chart--line .divi.divi--50 {
  left: calc(50% - 1px);
}
.img__chart .chart--line .divi.divi--75 {
  left: 75%;
}
.img__chart .chart--line .line {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  background-color: #EFEFEF;
  border: 1px solid #343434;
}
.img__chart .chart--line .line span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-right: 1px solid #343434;
}

svg {
  display: block;
}
svg.keychart--donut {
  margin: auto;
}
svg.keychart--donut #val {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
svg.keychart--donut #line {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
svg.keychart--donut #line line {
  fill: none;
  stroke: #000;
}
svg.keychart--donut .cls {
  stroke: #fff;
  stroke-miterlimit: 10;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
svg.keychart--donut .cls,
svg.keychart--donut #val,
svg.keychart--donut #line {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
svg.keychart--donut .cls-1 {
  fill: #93aaa7;
}
svg.keychart--donut .cls-2 {
  fill: #2fa9ae;
}
svg.keychart--donut .cls-3 {
  fill: #2bbec4;
}
svg.keychart--donut .cls-4 {
  fill: #dbc0b2;
}
svg.keychart--donut .cls-5 {
  fill: #e5b896;
}
svg.keychart--donut .cls-6 {
  fill: #f9d956;
}
svg.keychart--donut .cls-7 {
  fill: #e8c436;
}
svg.keychart--donut .cls-8 {
  fill: #dcb000;
}
svg.keychart--donut .cls-9 {
  fill: #22afe3;
}
svg.keychart--donut .cls-10 {
  fill: #55c1e9;
}
svg.keychart--donut .cls-11 {
  fill: #7ed1ef;
}
svg.keychart--donut .cls-12 {
  fill: #a1dbf1;
}
svg.keychart--donut .cls-13 {
  fill: #5ecaa4;
}
svg.keychart--donut .cls-14 {
  fill: #77d9b7;
}
svg.keychart--donut .cls-15 {
  fill: #93ebcc;
}
svg.keychart--donut.active .cls {
  -moz-animation: keychart 0.1s forwards;
  -webkit-animation: keychart 0.1s forwards;
  animation: keychart 0.1s forwards;
}
svg.keychart--donut.active .cls.cls-1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
svg.keychart--donut.active .cls.cls-2 {
  -moz-animation-delay: 0.05s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
svg.keychart--donut.active .cls.cls-3 {
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
svg.keychart--donut.active .cls.cls-4 {
  -moz-animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
svg.keychart--donut.active .cls.cls-5 {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
svg.keychart--donut.active .cls.cls-6 {
  -moz-animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
svg.keychart--donut.active .cls.cls-7 {
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
svg.keychart--donut.active .cls.cls-8 {
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
svg.keychart--donut.active .cls.cls-9 {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
svg.keychart--donut.active .cls.cls-10 {
  -moz-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
svg.keychart--donut.active .cls.cls-11 {
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
svg.keychart--donut.active .cls.cls-12 {
  -moz-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
svg.keychart--donut.active .cls.cls-13 {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
svg.keychart--donut.active .cls.cls-14 {
  -moz-animation-delay: 0.65s;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}
svg.keychart--donut.active .cls.cls-15 {
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
svg.keychart--donut.active #val {
  -moz-animation: keychart 0.1s 0.9s forwards;
  -webkit-animation: keychart 0.1s 0.9s forwards;
  animation: keychart 0.1s 0.9s forwards;
}
svg.keychart--donut.active #line {
  -moz-animation: keychart 0.1s 0.9s forwards;
  -webkit-animation: keychart 0.1s 0.9s forwards;
  animation: keychart 0.1s 0.9s forwards;
}

.keychart--bar {
  font-size: 15px;
  line-height: 20px;
  word-break: keep-all;
}
.keychart--bar > div > div {
  margin-bottom: 10px;
}
.keychart--bar .bar--line {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.keychart--bar .bar--line > div {
  border: 1px solid #343434;
  height: 20px;
}
.keychart--bar .bar--line > div.labor_rights {
  background-color: #22afe3;
}
.keychart--bar .bar--line > div.annuity_reform {
  background-color: #55c1e9;
}
.keychart--bar .bar--line > div.gender_issues {
  background-color: #5ecaa4;
}
.keychart--bar .bar--line > div.education_reform {
  background-color: #7ed1ef;
}
.keychart--bar .bar--line > div.energy {
  background-color: #a1dbf1;
}
.keychart--bar .bar--line > div.climate_change {
  background-color: #77d9b7;
}
.keychart--bar .bar--line > div.surroundings {
  background-color: #93ebcc;
}
.keychart--bar .bar--line > div.eco_and_industrial_development {
  background-color: #93aaa7;
}
.keychart--bar .bar--line > div.residence_justice {
  background-color: #2fa9ae;
}
.keychart--bar .bar--line > div.social_welfare {
  background-color: #2bbec4;
}
.keychart--bar .bar--line > div.returning {
  background-color: #dbc0b2;
}
.keychart--bar .bar--line > div.national_identity {
  background-color: #e5b896;
}
.keychart--bar .bar--line > div.tw_usa_relations {
  background-color: #f9d956;
}
.keychart--bar .bar--line > div.diplomatic {
  background-color: #e8c436;
}
.keychart--bar .bar--line > div.cross_strait_relations {
  background-color: #dcb000;
}
.keychart--bar .bar--number {
  color: #b1b1b1;
}

.remark_block p {
  color: #343434;
  font-size: 15px;
}

@-moz-keyframes keychart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes keychart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes keychart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
