.article__detail {
  position: relative;
  font-size: 0;

  @media screen and (min-width: 1024px) {
    padding-right: 200px;
  }

  & > ul {
    display: inline;
    @include list(0, 0, none);

    li {
      display: inline-block;

      & > * {
        display: inline-block;
        vertical-align: text-bottom;
      }

      & > span {
        font-size: 0.875rem;
      }

      & > .author--item {
        a,
        span {
          font-size: 0.875rem;
        }
        + .author--item::before {
          @include beforeafter('、', inline-block);
          font-size: 0.875rem;
        }
      }
    }
  }

  & > ul.article__author {
    li {
      &:not(:last-child) {
        &::after {
          @include beforeafter('．', inline-block);
          font-size: 0.875rem;
        }
      }

      & > span::after {
        @include beforeafter('—', inline-block);
      }
    }
  }

  & > ul.article__assort {
    &::before {
      @include beforeafter('．', inline-block);
      font-size: 0.875rem;
      vertical-align: text-bottom;
    }
    a,
    span {
      font-size: 0.875rem;
    }
  }

  time:not([hidden]) {
    display: block;
    font-size: 0.875rem;
  }
}

.prefer__btn {
  padding: 10px 20px;
  border: 1px solid #eeeeee;
  border-radius: 45px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  a {
    color: #48545d;
    font-weight: 400;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }
  .icon_google {
    background: url('../images/article/icon_google.svg') no-repeat center/100%;
    width: 20px;
    height: 20px;
    display: inline-block;
  }
  .tooltips {
    position: absolute;
    background: #48545d;
    bottom: 10px;
    color: #fff;
    display: none;
    white-space: no-warp;
    bottom: -35px;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: 400;
  }
  &:hover {
    border-color: #d60c18;
    a {
      color: #d60c18;
    }
    .tooltips {
      display: block;
    }
  }
  &.desktop {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.article__views {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0.875rem;
  transform: translateY(-50%);

  span {
    display: block;
    line-height: 1;
  }
}

.article__provideViews {
  position: relative;
  font-size: 0;

  time {
    display: inline-block;
    vertical-align: middle;
  }
}
