.article__extended {
    position: relative;
    z-index: 4;
    .h2 {
        font-weight: 500;
    }
    ul {
        @include list(0, 0, none);
        font-size: 1.125rem;
        line-height: 1.7;
        @include breakpoint(1024px) {
            line-height: 1.7;
        }
        @include breakpoint(max-width 1023px) {
            li {
                line-height: 1.25;
                +li {
                    margin-top: 15px;
                }
            }
        }
        a {
            display: block;
        }
    }
}