.financial-evening {
  .article__body {
    margin-top: -0.625rem;
  }

  .article__extended ul {
    margin-left: 1.5rem;
    list-style: disc;
  }

  .article__audio--tts {
    margin-bottom: 0;
  }

  .market-trends {
    .ai-related {
      margin: 0 !important;
    }
  }
}