$icon-size-pc: 2.875rem;
$icon-size-mb: 2.375rem;

.article__function {
  display: none;
  position: fixed;
  top: 50%;
  left: calc((100% - 970px) / 2);
  transform: translateY(-50%);
  z-index: 5;

  @media screen and (max-width: 1023px) {
    display: none !important;
  }
}

.article__function__inner,
.article__share,
.article__provide {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1024px) {
    flex-direction: column;
  }
}

.article__function__inner {
  gap: 1.875rem;
}

.article__share,
.article__provide {
  gap: 5px;
  text-align: center;
  list-style: none;

  ul {
    margin: 0;
    padding: 0;
    display: inherit;
    flex-direction: inherit;
    gap: 10px;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 50%;
    color: #6b7780;
    cursor: pointer;

    &:hover,
    &:active {
      color: #d60c18;
      border-color: #d60c18;
    }
  }

  a {
    width: $icon-size-mb;
    height: $icon-size-mb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    color: inherit;

    @media screen and (min-width: 1024px) {
      width: $icon-size-pc;
      height: $icon-size-pc;
    }

    * {
      pointer-events: none;
    }
  }

  .title {
    color: $gray-400;
    font-size: 0.875rem;
    text-align: center;
  }
}
