.article__function {
    display: none;
    position: fixed;
    top: 50%;
    left: calc((100% - 970px) / 2);
    @include translateY(-50%);
    z-index: 3;
}

ul.article__share,
ul.article__provide {
    @include list(0, 0, none);
    +ul {
        margin-top: 30px;
    }
    .title {
        margin-bottom: 5px;
        color: $gray-400;
        font-size: 0.875rem;
        text-align: center;
    }
    li {
        a,
        span {
            display: block;
            color: $gray-400;
            border: solid $gray-100;
            background-color: $white;
            @include transition(all 0.2s);
            cursor: pointer;
            i.icon {
                display: block;
                text-align: center;
                font-size: 1.125rem;
                &.icon-fontsize {
                    font-size: 1rem;
                }
            }
            &:hover {
                color: $primary;
                border-color: $primary;
            }
        }
        &.tooltips--facebook a:hover {
            color: $facebook;
            border-color: $facebook;
        }
        &.tooltips--line a:hover {
            color: $line;
            border-color: $line;
        }
    }
}

ul.article__share {
    li {
        @include breakpoint(max-width 1023px) {
            display: inline-block;
        }
        +li {
            @include breakpoint(1024px) {
                margin-top: 10px;
            }
            @include breakpoint(max-width 1023px) {
                margin-left: calc((100% - 120px) / 4);
            }
        }
        a {
            border-width: 0;
            @include breakpoint(max-width 1023px) {
                padding: 10px;
            }
            @include breakpoint(1024px) {
                width: 3rem;
                height: 3rem;
                border-width: 1px;
                @include border-radius(50%);
            }
            i.icon {
                @include breakpoint(max-width 1023px) {
                    font-size: 1.25rem;
                }
                @include breakpoint(1024px) {
                    line-height: calc(3rem - 2px);
                }
            }
        }
    }
}

ul.article__provide {
    li {
        @include breakpoint(max-width 1023px) {
            display: inline-block;
        }
        +li {
            @include breakpoint(1024px) {
                margin-top: 10px;
            }
            @include breakpoint(max-width 1023px) {
                margin-left: 10px;
            }
        }
        span {
            width: 2.5rem;
            height: 2.5rem;
            border-width: 1px;
            @include border-radius(50%);
            @include breakpoint(1024px) {
                width: 3rem;
                height: 3rem;
            }
            i.icon {
                line-height: calc(2.5rem - 2px);
                @include breakpoint(1024px) {
                    line-height: calc(3rem - 2px);
                }
            }
        }
    }
}