.tooltips--gift {
  &.active {
    &:before {
      opacity: 0;
    }
  }
}

.gift {
  // &--copyLinkMessage {
  //     &.hide {
  //         opacity: 0;
  //         visibility: hidden;
  //         transition: all 0.2s;
  //     }
  // }

  &--close {
    cursor: pointer;

    // article_notSubscriber
    &.icon {
      position: absolute;
      top: 20px;
      right: 20px;
      transition: all 0.2s;

      &::before {
        font-size: 18px;
      }
    }
  }

  &--hint {
    position: absolute;
    left: calc(100% + 15px);
    top: 5px;
    z-index: 2;
    background-color: #003a9f;
    padding: 15px 20px;
    transition: all 0.2s;
    width: max-content;
    animation: hint 0.7s infinite alternate,
      fadeIn 0.3s 30s forwards alternate-reverse;
    animation-timing-function: cubic-bezier(0, 0.35, 0.7, 1);

    @media screen and (max-width: 1023px) {
      left: -7px;
      top: calc(-100% - 15px);
    }

    @media screen and (max-width: 321px) {
      left: -30px;
    }

    @keyframes hint {
      0% {
        transform: translateX(10px);
      }

      100% {
        transform: translateX(0px);
      }
    }

    @media screen and (max-width: 1023px) {
      @keyframes hint {
        0% {
          transform: translateY(-25px);
        }

        100% {
          transform: translateY(-17px);
        }
      }
    }

    p {
      color: #fff;
      padding: 0;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }

    &::after {
      @include beforeafter('', block);
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 15px 10px 0;
      border-color: transparent #003a9f transparent transparent;
      top: 10px;
      left: -13px;

      @media screen and (max-width: 1023px) {
        top: calc(100% - 5px);
        left: 20px;
        transform: rotate(270deg);
      }

      @media screen and (max-width: 321px) {
        left: 42px;
      }
    }
  }

  &--lightbox {
    &._side {
      width: 270px;
      left: calc(100% + 15px);
      top: -30px;
      z-index: 3;
      background-color: #f7f7f7;
      display: none;
      position: absolute;
      padding: 20px;
      outline: 1px solid #eeeeee;

      @media screen and (max-width: 1023px) {
        top: calc(100% + 20px);
        left: -60%;
      }

      @media screen and (max-width: 440px) {
        left: unset;
        right: calc(-100vw + 140px + 40px);
      }

      &::after {
        @include beforeafter('', block);
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f7f7f7 transparent transparent;
        top: 45px;
        left: -12px;

        @media screen and (max-width: 1023px) {
          top: -16px;
          left: 37px;
          transform: rotate(90deg);
        }

        @media screen and (max-width: 440px) {
          left: unset;
          right: calc(100vw - 140px - 28px);
        }
      }

      &::before {
        @include beforeafter('', block);
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent #eeeeee transparent transparent;
        top: 45px;
        left: -14px;

        @media screen and (max-width: 1023px) {
          top: -18px;
          left: 37px;
          transform: rotate(90deg);
        }

        @media screen and (max-width: 440px) {
          left: unset;
          right: calc(100vw - 140px - 28px);
        }
      }
    }

    &._header {

      @at-root .tooltips--gift img.function__gift {
        width: 23.6px;
        height: 23.4px;
      }

      width: 270px;
      left: calc(20px);
      top: 50px;
      z-index: 2;
      background-color: #f7f7f7;
      display: none;
      position: absolute;
      padding: 20px;
      outline: 1px solid #eeeeee;

      &::after {
        @include beforeafter('', block);
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f7f7f7 transparent transparent;
        top: -16px;
        left: calc(30px + 1.3625rem);
        transform: translateX(-50%) rotate(90deg);
      }

      &::before {
        @include beforeafter('', block);
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 15px 10px 0;
        border-color: transparent #eeeeee transparent transparent;
        top: -18px;
        left: calc(30px + 1.3625rem);
        transform: translateX(-50%) rotate(90deg);
      }

      @media screen and (min-width: 1023px) {
        display: none !important;
      }

    }

    >* {
      margin: 0;
      padding: 0;
    }

    h3, .gift--title {
      position: relative;
      display: flex;
      align-items: flex-start;
      line-height: 25px;
      gap: 8px;

      &::before {
        @include beforeafter('', block);
        content: '';
        width: 23.18px;
        height: 23px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./../images/article/icon_gift.svg');
      }

      &.iconless {
        &::before {
          display: none;
        }
      }
    }

    .gift--title {
      font-size: 1.125rem;
      font-weight: 600;
      color: #171717;
      word-break: break-word;

      @media screen and (min-width: 1024px) {
        font-weight: 500;
      }
    }

    >p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 21px;
    }

    // article_subscriber-1
    >a {
      color: #003a9f;
      position: relative;
      font-size: 14px;
      line-height: 21px;

      &:hover {
        color: #d60c18;

        &::after {
          background-color: #d60c18;
        }
      }

      &::after {
        @include beforeafter('', block);
        content: '';
        position: absolute;
        transition: all 0.2s;
        width: 100%;
        height: 1px;
        background-color: #003a9f;
        left: 0;
        bottom: 1px;
      }
    }

    .btn {
      padding: 12px;
      flex-grow: 1;

      +a.btn {
        margin-left: 0;
      }

      &__con {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        // article_subscriber-1
        &.social>a,
        &.social>div {
          width: 43.6px;
          height: 43.6px;
          display: block;
          cursor: pointer;

          i.icon {
            border: 1px solid #d3d5d7;
            border-radius: 50%;
            display: block;
            text-align: center;
            color: #6d767f;
            font-size: 1.47875rem;
            line-height: calc(43.6px - 2px);
            transition: all 0.2s;

            &-mail {
              &:hover {
                color: #d60c18;
                border: 1px solid #d60c18;
              }
            }

            &-line {
              color: #00c200;

              &:hover {
                border: 1px solid #00c200;
              }
            }

            &-link {
              &:hover {
                color: #d60c18;
                border: 1px solid #d60c18;
              }
            }
          }
        }
      }

      &--contained {
        border: 1px solid #003a9f;
        color: #fff;
        background-color: #003a9f;

        &:hover {
          background-color: #d60c18;
          border: 1px solid #d60c18;
          color: #fff;
        }
      }

      &--outlined {
        border: 1px solid #003a9f;
        color: #003a9f;
        background-color: unset;

        &:hover {
          color: #d60c18;
          border: 1px solid #d60c18;
        }
      }
    }
  }
}

.message {
  &--giftCopyLink {
    display: none;
  }

  &--afterCopyLink {
    display: none;
  }

  &--gift {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 508px;
    width: calc(100% - 30px);
    padding: 30px 24px;
    background-color: $white;
    transform: translate(-50%, -50%);
    display: none;

    .message {
      &__container {
        position: relative;
      }

      &__icon {
        img {
          width: 58px;
          margin: auto auto auto 0;

          @media screen and (max-width: 1023px) {
            margin: auto;
          }
        }
      }

      &__txt {
        padding-bottom: 20px;

        .title {
          padding-right: 50px;
          margin-top: 0;
          margin-bottom: 24px;
          font-size: 1.25rem;
          font-weight: 600;

          @media screen and (min-width: 1024px) {
            font-size:1.375rem;
            font-weight: 500;
          }
        }

        h2 {
          padding-right: 50px;
          margin-top: 0;
          margin-bottom: 24px;
        }

        p {
          margin: 0;
        }
      }

      &__btn {
        text-align: right;
      }

      &__close {
        top: -5px;
        right: -10px;
        width: 36px;
        height: 36px;

        &::before {
          font-size: 16px;
        }
      }
    }
  }
}