.message--idlebox {
    max-width: 760px;
    width: calc(100% - 30px);
    padding: 20px 20px 30px;
    background: $white;
    z-index: 11;
    @media screen and (min-width: 1024px) {
        padding: 30px 30px 40px;
        font-weight: 300;
    }
    .idle__title {
        padding-right: 30px;
        margin-bottom: 24px;
        font-weight: 500;
        line-height: 1.5;
    }
    .card__group {
        @media screen and (max-height: 700px) {
            height: 60vh;
            overflow: scroll;
        }
        @media screen and (max-width: 1023px) {
            max-height: 50vh;
            overflow: scroll;
        }
        .card__item {
            display: inline-block;
            vertical-align: text-top;
            @media screen and (min-width: 1024px) {
                width: calc((100% - 40px) / 3);
                margin-left: 20px;
                &:nth-child(3n+1) {
                    margin-left: 0;
                }
                &:nth-child(n+4) {
                    margin-top: 30px;
                }
                .card__subtitle {
                    margin-top: 10px;
                }
                .card__title {
                    margin-top: 5px;
                }
            }
            @media screen and (max-width: 1023px) {
                +.card__item {
                    margin-top: 20px;
                }
                >span {
                    display: inline-block;
                    vertical-align: middle;
                    &.card__img {
                        width: 110px;
                    }
                    &.card__body {
                        width: calc(100% - 110px);
                        padding-left: 20px;
                        .card__title {
                            @include lineclamp(2);
                        }
                    }
                }
            }
        }
    }
}