.lazyload__group {
    position: relative;
    display: block;
    cursor: pointer;
    background: $gray-100;

    img {
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.imgzoom {
    position: relative;
    display: block;

    @media screen and (max-width: 767px) {
        margin-left: -20px;
        margin-right: -20px;
    }

    @media screen and (min-width: 768px) {
        &::after {
            @include beforeafter($icon-zoom, block);
            position: absolute;
            bottom: 0;
            right: 0;
            width: 2.25rem;
            color: $white;
            font-family: $icomoon-font-family;
            font-size: 1.5em;
            line-height: 2.25rem;
            text-align: center;
            background-color: rgba($black, 0.5);
        }
    }
}