.article__next {
    // display: none;
    position: fixed;
    overflow: hidden;
    &.show {
        overflow: visible;
    }
    @include breakpoint(1140px) {
        top: 50%;
        left: calc(((100% - 700px) / 2) + 700px + 20px);
        width: 0;
        @include translateY(-50%);
        &.show {
            width: 180px;
        }
    }
    @include breakpoint(max-width 1139px) {
        bottom: 60px;
        left: 20px;
        height: auto !important;
        &.show {
            right: 20px;
        }
    }
    z-index: 5;
    a {
        display: none;
        width: 100%;
        font-size: 0;
        background-color: $white;
        border: 1px solid $gray-200;
        @include breakpoint(1140px) {
            position: absolute;
            bottom: 0;
        }
        span {
            display: block;
        }
        .next__img {
            position: relative;
            overflow: hidden;
            @include breakpoint(max-width 1139px) {
                display: inline-block;
                width: 150px;
                vertical-align: middle;
            }
            &::before {
                @include beforeafter('', block);
                width: 100%;
                padding-top: 66.984127%;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                @include translate(-50%, -50%);
            }
        }
        .next__body {
            @include breakpoint(1140px) {
                padding: 20px 15px;
            }
            @include breakpoint(max-width 1139px) {
                display: inline-block;
                width: calc(100% - 150px);
                padding: 0 15px;
                vertical-align: middle;
            }
            .next__label {
                color: $primary;
                font-size: 0.875rem;
            }
            .next__title {
                color: $text;
                font-size: 1rem;
                @include lineclamp(2);
            }
        }
        &:hover {
            .next__body {
                .next__title {
                    color: $primary;
                }
            }
        }
    }
}