.openInApp {
    position: fixed;
    left: 50%;
    bottom: -3.75rem;
    width: fit-content;
    font-size: .875rem;
    background-color: $surface;
    translate: -50% 0;
    transition: 0.2s bottom, 0.2s width;
    z-index: 6;

    @media screen and (min-width: 1025px) {
        display: none;
    }

    a {
        display: block;
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
        color: $white;
        font-weight: 400;
        line-height: 36px;
        background-color: $surface;
        @include ellipsis();

        // 因為只需要手機版出現，故不需要hover
        // &:hover {
        //     background-color: $primary-variant;
        // }
    }

    &.show {
        bottom: 2.125rem;
        &.hasBtb {
            bottom: 3.75rem;
        }
    }

}