.paywall {
    position: relative;
    margin-bottom: 50px;
    font-size: 1.125rem;
    background-color: #f7f7f7;
    z-index: 1;
    &.paywall--mask {
        &::before {
            @include beforeafter('', block);
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            height: 300px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        }
    }
    &.paywall--singleColumn {
        >div[class*='paywall__'] {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &.paywall--doubleColumn {
        padding: 40px 60px;
        font-size: 0;
        @media screen and (min-width: 1024px) {
            padding: 60px 40px;
        }
        @media screen and (max-width: 1023px) {
            display: flex;
            flex-direction: column-reverse;
            padding: 60px 40px;
            text-align: center;
        }
        .paywall__item {
            font-size: 1.125rem;
            @media screen and (min-width: 1024px) {
                display: inline-block;
                vertical-align: middle;
            }
            &.paywall__item--text {
                @media screen and (max-width: 1023px) {
                    margin-left: -20px;
                    margin-right: -20px;
                }
                @media screen and (min-width: 1024px) {
                    width: calc(100% - 270px);
                    padding-right: 20px;
                }
            }
            &.paywall__item--img {
                width: 100%;
                @media screen and (min-width: 1024px) {
                    width: 270px;
                }
                @media screen and (max-width: 1023px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .paywall__header {
        line-height: 2.8;
        background-color: $gray-100;
    }
    .paywall__body {
        padding-top: 30px;
        padding-bottom: 30px;
        >img {
            width: 240px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        ul.check {
            display: table;
            @include list(1em auto, 0, none);
            text-align: left;
            li {
                padding-left: calc(1em + 10px);
                text-indent: calc(-1em - 10px);
                &::before {
                    content: $icon-check;
                    padding-right: 10px;
                    font-family: '#{$icomoon-font-family}';
                }
                +li {
                    margin-top: 10px;
                }
            }
        }
    }
    .separation--or {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 60px);
        span {
            background-color: #f7f7f7;
        }
    }
    .paywall__footer {
        padding-bottom: 30px;
    }
    .paywall__text {
        line-height: 1.7;
    }
}