.paywall {
  position: relative;
  margin-bottom: 50px;
  font-size: 1.125rem;
  background-color: #f7f7f7;
  z-index: 1;

  &.paywall--mask {
    &::before {
      @include beforeafter('', block);
      width: 100%;
      height: 300px;
      position: absolute;
      bottom: 100%;
      left: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    }
  }

  &.paywall--singleColumn {
    & > div[class*='paywall__'] {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &.paywall--doubleColumn {
    padding: 40px 60px;
    font-size: 0;

    @media screen and (min-width: 1024px) {
      padding: 60px 40px;
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column-reverse;
      padding: 60px 40px;
      text-align: center;
    }

    .paywall__item {
      font-size: 1.125rem;

      @media screen and (min-width: 1024px) {
        display: inline-block;
        vertical-align: middle;
      }

      &.paywall__item--text {
        @media screen and (max-width: 1023px) {
          margin-left: -20px;
          margin-right: -20px;
        }

        @media screen and (min-width: 1024px) {
          width: calc(100% - 270px);
          padding-right: 20px;
        }
      }

      &.paywall__item--img {
        width: 100%;

        @media screen and (min-width: 1024px) {
          width: 270px;
        }

        @media screen and (max-width: 1023px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .paywall__header {
    line-height: 2.8;
    background-color: $gray-100;
  }

  .paywall__body {
    padding-top: 30px;
    padding-bottom: 30px;

    > img {
      width: 240px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    ul.check {
      display: table;
      @include list(1em auto, 0, none);
      text-align: left;

      li {
        padding-left: calc(1em + 10px);
        text-indent: calc(-1em - 10px);

        &::before {
          content: $icon-check;
          padding-right: 10px;
          font-family: '#{$icomoon-font-family}';
        }

        & + li {
          margin-top: 10px;
        }
      }
    }
  }

  .separation--or {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 60px);

    span {
      background-color: #f7f7f7;
    }
  }

  .paywall__footer {
    padding-bottom: 30px;
  }

  .paywall__text {
    line-height: 1.7;
  }
}

// 202506 paywall anniversary
// TODO: remove after anniversary
.paywall-anniversary {
  position: relative;
  background-color: #f7f7f7;
  text-align: center;
  line-height: 1.5;

  &::before {
    @include beforeafter('', block);
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  }

  .point {
    color: #d60c18;
  }

  .delete {
    text-decoration: line-through;
  }

  .btn--text {
    margin: 0 !important;
  }

  .paywall-header {
    padding: 1.25rem;
    background-color: #eee;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1;
  }

  .paywall-body,
  .paywall-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  .paywall-body {
    padding: 1.875rem 1.25rem;
  }

  .paywall-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;

    @media screen and (max-width: 1023px) {
      font-size: 1.625rem;
      font-weight: 700;
    }
  }

  .paywall-picture {
    img {
      width: 18.5rem;
    }
  }

  .paywall-actions {
    width: 100%;
    padding: 1.25rem;
    background-color: white;
    font-weight: 400;

    .btn {
      @media screen and (min-width: 1024px) {
        min-width: 10.875rem;
      }

      &:not(.btn--text) {
        @media screen and (max-width: 1023px) {
          width: 100%;
        }
      }
    }
  }

  .paywall-dialogue {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .paywall-character {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 300;

    li {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      &::before {
        content: '\e90b';
        font-family: cw_icon;
      }
    }
  }
}
