.paywall {
  position: relative;
  margin-bottom: 50px;
  font-size: 1.125rem;
  background-color: #f7f7f7;
  z-index: 1;

  &.paywall--mask {
    &::before {
      @include beforeafter('', block);
      position: absolute;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 300px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    }
  }

  &.paywall--singleColumn {
    >div[class*='paywall__'] {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &.paywall--doubleColumn {
    padding: 40px 60px;
    font-size: 0;

    @media screen and (min-width: 1024px) {
      padding: 60px 40px;
    }

    @media screen and (max-width: 1023px) {
      display: flex;
      flex-direction: column-reverse;
      padding: 60px 40px;
      text-align: center;
    }

    .paywall__item {
      font-size: 1.125rem;

      @media screen and (min-width: 1024px) {
        display: inline-block;
        vertical-align: middle;
      }

      &.paywall__item--text {
        @media screen and (max-width: 1023px) {
          margin-left: -20px;
          margin-right: -20px;
        }

        @media screen and (min-width: 1024px) {
          width: calc(100% - 270px);
          padding-right: 20px;
        }
      }

      &.paywall__item--img {
        width: 100%;

        @media screen and (min-width: 1024px) {
          width: 270px;
        }

        @media screen and (max-width: 1023px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .paywall__header {
    line-height: 2.8;
    background-color: $gray-100;
  }

  .paywall__body {
    padding-top: 30px;
    padding-bottom: 30px;

    >img {
      width: 240px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    ul.check {
      display: table;
      @include list(1em auto, 0, none);
      text-align: left;

      li {
        padding-left: calc(1em + 10px);
        text-indent: calc(-1em - 10px);

        &::before {
          content: $icon-check;
          padding-right: 10px;
          font-family: '#{$icomoon-font-family}';
        }

        +li {
          margin-top: 10px;
        }
      }
    }
  }

  .separation--or {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 60px);

    span {
      background-color: #f7f7f7;
    }
  }

  .paywall__footer {
    padding-bottom: 30px;
  }

  .paywall__text {
    line-height: 1.7;
  }
}

// 202502 paywall with plan
// TODO: remove or keep when a/b test ended
.paywall-wrapper {
  padding: 1.875rem 1.875rem 3.75rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: #F7F7F7;
  color: #000;

  .paywall-header {
    font-size: 1.375rem;
    font-weight: 500;
    text-align: center;
  }

  .paywall-body {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  .paywall-card {
    padding: 0.9375rem 0;
    position: relative;

    &.default {
      .paywall-card-title {
        font-size: 1.375rem;
      }

      .paywall-card-subtitle {
        min-height: 1.5em;
        flex-grow: 1;
        font-size: 1rem;
      }
    }

    &.plan {
      .paywall-card-title {
        font-size: 0.875rem;
      }

      .paywall-card-price {
        font-size: 1.375rem;
      }
    }

    &.discount {
      .paywall-card-inner {
        border-color: #003B82;
      }
    }
    
    .paywall-card-label {
      padding: 0.1875rem 0.9375rem;
      position: absolute;
      top: 0;
      left: 0;
      background: #003A9F;
      color: white;
      translate: -8px 0;

      &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        border-width: 0 8px 6px 0;
        border-style: solid;
        border-color: transparent;
        border-right-color: #003A9F;
      }
    }

    .paywall-card-inner {
      padding: 1.875rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      background-color: #FFFFFF;
      border-width: 1px;
      border-style: solid;
      border-color: #D3D5D7;
    }

    .paywall-card-footer {
      padding-top: 0.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}