.audio__player {
    display: inline-flex;
    align-items: center;
    padding: 0 20px 0 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: .875rem;
    user-select: none;
    background-color: $gray-100;
    border-radius: 20px;
    @media screen and (min-width: 1024px) {
        width: auto;
    }
    @media print {
        display: none;
    }

    @at-root .article__content #{&} {
        margin-bottom: 0;
    }

    @at-root .player__instruction--shown #{&} {
        .player__instruction {
            display: none;
        }
    }

    &.audio__player--standby,
    &.audio__player--disabled {
        position: relative;
        width: auto;
        .audio__player--preview-group {
            display: flex;
        }
        .audio__player--function-group {
            display: none;
        }
        .audio__player--playpause::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.audio__player--playing {
        .audio__player--playpause i::before {
            content: $icon-pause-solid;
        }
    }
    &.audio__player--disabled {
        color: $gray-300;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .player__instruction {
            display: none;
        }
    }

    svg, img, i.icon {
        display: block;
    }

    .audio__player--playpause {
        padding: calc((40px - 0.875rem) / 2) 10px;
        cursor: pointer;
    }

    .audio__player--function-group,
    .audio__player--preview-group {
        height: 100%;
        align-items: center;
    }
    .audio__player--function-group {
        display: flex;
        @media screen and (max-width: 1023px) {
            flex-grow: 1;
        }
    }
    .audio__player--preview-group {
        display: none;
    }

    .audio__player--control {
        display: flex;
        align-items: center;
        gap: 2px;
        @media screen and (max-width: 1023px) {
            flex-grow: 1;
        }
    }
    .audio__player--bar {
        position: relative;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
        @media screen and (min-width: 1024px) {
            width: 150px;
        }
        @media screen and (max-width: 1023px) {
            flex-grow: 1;
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: 50%;
            width: 100%;
            height: 3px;
            background-color: $gray-200;
            border-radius: 3px;
            transform: translateY(-50%);
        }
        > div {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &-loaded {
            height: 3px;
            background-color: $gray-200;
            border-radius: 3px;
            z-index: 1;
        }
          
        &-played {
            flex-direction: row-reverse;
            height: 3px;
            background-color: $primary;
            border-radius: 3px;
            z-index: 2;
            &::after {
                @include beforeafter('', flex);
                position: absolute;
                top: 50%;
                right: -1px;
                margin-right: -4px;
                width: 10px;
                height: 10px;
                background-color: $primary;
                border-radius: 6px;
                transform: translateY(-50%);
            }
        }
    }

    .audio__player--volume {
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        @media screen and (min-width: 1024px) {
            display: flex;
        }
    }
    .audio__player--volume-button {
        padding: 5px;
        cursor: pointer;
    }
    .audio__player--volume-adjust {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 40px;
        height: 100px;
        padding: 19px 18px;
        background-color: $white;
        border: 1px solid $gray-200;
        transform: translateX(-50%);
        > div {
            position: relative;
            display: flex;
            width: 3px;
            height: 60px;
            margin: auto;
            background-color: $gray-200;
            border-radius: 3px;
            cursor: pointer;
        }
        div div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 3px;
            border-radius: 3px;
            background-color: $primary;
            &::after {
                @include beforeafter('', flex);
                position: absolute;
                top: 0;
                left: 50%;
                width: 10px;
                height: 10px;
                background-color: $primary;
                border-radius: 6px;
                transform: translate(-50%, -50%);
            }
        }
    }

    .audio__player--speed {
      position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 100%;
        margin-left: 10px;
        cursor: pointer;
        @media screen and (min-width: 1024px) {
            margin-left: 0;
        }
    }

    .player__instruction {
        position: absolute;
        top: calc(100% + 13px);
        padding: 15px 20px;
        color: $white;
        font-size: 0.875rem;
        white-space: nowrap;
        background-color: $surface;
        z-index: 1;
        @media screen and (min-width: 1024px) {
            transform: translateX(-50%);
        }
        &.player__instruction--step1 {
            left: 0;
            @media screen and (min-width: 1024px) {
                left: calc((.875rem + 20px) / 2 + 10px);
            }
            &::before {
                left: calc((.875rem + 20px) / 2 + 10px);
                @media screen and (min-width: 1024px) {
                    left: 50%;
                }
            }
        }
        &.player__instruction--step2 {
            right: -20px;
            @media screen and (min-width: 1024px) {
                left: 50%;
                right: auto;
            }
            &::before {
                right: 15px;
                @media screen and (min-width: 1024px) {
                    left: 50%;
                    right: auto;
                }
            }
        }
        &::before {
            @include beforeafter('', block);
            position: absolute;
            top: -13px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 20px 10px;
            border-color: transparent transparent $surface transparent;
            transform: translateX(-50%);
            @media screen and (min-width: 1024px) {
                left: 50%;
            }
        }
        @at-root .audio__player--played#{&} {
            &.player__instruction--step1 {
                display: none;
            }
            &.player__instruction--step2 {
                animation: bounce .7s infinite alternate, fadeIn 0.3s 30s forwards alternate-reverse;
                animation-timing-function: cubic-bezier(0, 0.35, 0.7, 1);
            }
        }
        @at-root .audio__player--standby#{&} {
            &.player__instruction--step1 {
                animation: bounce .7s infinite alternate, fadeIn 0.3s 30s forwards alternate-reverse;
                animation-timing-function: cubic-bezier(0, 0.35, 0.7, 1);
            }
            &.player__instruction--step2 {
                display: none;
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 10px;
    }
}
