.audio__player {
    display: inline-flex;
    align-items: center;
    padding: 0 20px 0 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: .875rem;
    user-select: none;
    background-color: $gray-100;
    border-radius: 20px;
    @media screen and (min-width: 1024px) {
        width: auto;
    }
    @media print {
        display: none;
    }

    @at-root .article__content #{&} {
        margin-bottom: 0;
    }

    &.audio__player--standby,
    &.audio__player--disabled {
        position: relative;
        width: auto;
        .preview {
            display: block;
        }
        .controls, .volume, .speed {
            display: none;
        }
        .play-pause-btn::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.audio__player--disabled {
        color: $gray-300;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }

    svg, img, i.icon {
        display: block;
    }

    .play-pause-btn {
        display: none;
        padding: 10px;
        cursor: pointer;
    }

    .loading {
        margin: 0 10px;
        .loading__spinner {
            width: .75rem;
            height: .75rem;
            border: 2px solid $gray-200;
            border-right-color: transparent;
            border-radius: 50%;
            animation: spin 0.4s linear infinite;
        }
    }

    .preview {
        display: none;
    }

    .slider {
        position: relative;
        flex-grow: 1;
        background-color: $gray-200;
        cursor: pointer;

        .gap-progress {
            position: absolute;
            background-color: $primary;
            border-radius: inherit;
            pointer-events: none;

            .pin {
                position: absolute;
                width: .625rem;
                height: .625rem;
                background-color: $primary;
                border-radius: 50%;
                pointer-events: all;
            }
        }
    }

    .controls {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        gap: 2px;

        .controls__slider {
            width: 100%;
            height: 3px;
            border-radius: 5px;
            margin-left: 10px;
            @media screen and (min-width: 1024px) {
                width: 150px;
            }

            .controls__progress {
                width: 0;
                height: 100%;

                .progress__pin {
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                }
            }
        }

        span {
            cursor: default;
        }
    }

    .speed {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer;
        @media screen and (min-width: 1024px) {
            margin-left: 0;
        }
    }

    .volume {
        display: none;
        position: relative;
        margin-left: 15px;
        margin-right: 15px;
        @media screen and (min-width: 1024px) {
            display: block;
        }

        .volume__button {
            cursor: pointer;

            svg {
                width: 1rem;
                height: 1rem;
            }
            // &.open path {
            // 	fill: #44bfa3;
            // }
        }

        .volume__controls {
            position: absolute;
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 40px;
            height: 100px;
            background-color: $white;
            border: 1px solid $gray-200;
            transform: translateX(-50%);

            &.hidden {
                display: none;
            }

            &.top {
                left: 50%;
                bottom: 27px;
            }

            &.middle {
                left: 50%;
                bottom: 27px;
            }

            &.bottom {
                left: 50%;
                top: 27px;
            }

            .volume__slider {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 3px;
                border-radius: 3px;

                .volume__progress {
                    bottom: 0;
                    width: 3px;
                    height: 100%;

                    .volume__pin {
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}
