.android {
    font-family: Roboto, 'Noto Sans TC', sans-serif;
    h1 {
        font-weight: 400;
    }
    @for $i from 2 through 5 {
        h#{$i} {
            @include breakpoint(max-width 1023px) {
                font-weight: 400;
            }
        }
    }
    .article__content blockquote p,
    .article__content p strong,
    .article__content p b,
    .font-weight-500 {
        font-weight: 400;
    }
}