button,
a {
    background-color: transparent;
    border-radius: 0;
    appearance: none;
    &:focus {
        outline: 0;
    }
}

.btn {
    position: relative;
    display: inline-block;
    min-width: 115px;
    padding: 0.6875em 1em;
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    word-break: keep-all;
    overflow: hidden;
    @media screen and (min-width: 375px) {
        min-width: 135px;
    }
    @media screen and (min-width: 768px) {
        min-width: 144px;
        padding: 0.875em 1em;
    }
    &.btn--small {
        min-width: 72px;
        padding: 0.7em 1em;
        font-size: 0.875rem;
        line-height: 1;
    }
    +button.btn,
    +a.btn {
        margin-left: 0.5rem;
        @media screen and (min-width: 768px) {
            margin-left: 1rem;
        }
    }
    &::before,
    &::after {
        @extend %before-after;
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    &::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opacity 0.2s;
    }
    &::after {
        left: 50%;
        top: 50%;
        padding: 55%;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 2s, transform 0.5s;
    }
    &:hover {
        &::before {
            opacity: 0.04;
        }
        &:focus {
            &::before {
                opacity: 0.16;
            }
        }
    }
    &:focus {
        &::before {
            opacity: 0.12;
        }
    }
    &:active {
        &::after {
            opacity: 1;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0s;
        }
    }
    &--text {
        display: inline;
        min-width: auto !important;
        padding: 0 !important;
        color: $surface;
        text-decoration: underline;
        border: 0;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
        &.disabled {
            color: $gray-200;
            cursor: not-allowed;
        }
    }
    &--outlined {
        color: $surface;
        background-color: $white;
        border: 1px solid $surface;
        z-index: 1;
        &::-moz-focus-inner {
            border: none;
        }
        &:hover,
        &.active {
            color: $primary-variant;
            border-color: $primary-variant;
        }
        &::before {
            background-color: $red-100;
        }
        &::after {
            background-color: $red-100;
        }
    }
    &--contained {
        color: $white;
        background-color: $surface;
        border: 1px solid $surface;
        z-index: 1;
        &::-moz-focus-inner {
            border: none;
        }
        &:hover,
        &.active {
            background-color: $primary-variant;
            border-color: $primary-variant;
        }
        &::before {
            background-color: $primary;
        }
        &::after {
            background-color: $primary;
        }
    }
    &--toggle {
        min-width: auto;
        padding: 10px;
        color: $black;
        border: 0;
        @media screen and (min-width: 768px) {
            padding: 20px;
        }
        i.icon {
            display: block;
            font-size: 1.5em;
            transition: transform 0.3s;
        }
        &:hover {
            color: $surface;
        }
        &.active {
            i.icon {
                transform: rotate(180deg);
            }
        }
    }
    &--100 {
        width: 100%;
        +button.btn--100,
        +a.btn--100 {
            margin-left: 0;
            margin-top: 20px;
        }
    }
    &[disabled] {
        color: $gray-200;
        background: $gray-100;
        border: 1px solid $gray-100;
        cursor: not-allowed;
        &::before {
            opacity: 0;
        }
        &::after {
            opacity: 0;
        }
        &:hover {
            color: $gray-200;
            background: $gray-100;
            border: 1px solid $gray-100;
        }
        &.btn--animate {
            color: $secondary-variant;
        }
    }
}