@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
// @import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
@import 'normalize/tables';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
ul, ol {
	padding-left: 1.15em;
}
.upper-latin {
	list-style-type: upper-alpha;
}
.decimal {
	list-style-type: decimal;
}
.disc {
	list-style-type: disc;
}
.number__brackets li {
	position: relative;
	padding-left: 2em;
	line-height: 1.5;
	span {
		position: absolute;
		left: 0;
	}
}
.mtb0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mt0-mb1 {
	margin-top: 0 !important;
	margin-bottom: 1em !important;
}
.mt0-mb05 {
	margin-top: 0 !important;
	margin-bottom: 0.5em !important;
}
.mb0 {
	margin-bottom: 0 !important;
}
.mt0 {
	margin-top: 0 !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt40-md {
	@include breakpoint(1024px) {
		margin-top: 40px !important;
	}
}
.mt10 {
	margin-top: 10px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mt10-mb20 {
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}
.mt20-mb10 {
	margin-top: 20px !important;
	margin-bottom: 10px !important;
}
.mt20-mb0 {
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.m0 {
	margin: 0;
}
.ptb0 {
	padding-top: 0;
	padding-bottom: 0;
}
.p10 {
	padding: 10px;
}
.p30 {
	padding: 30px;
}
.list-reset {
	@extend %list-reset;
}
.justify-between {
	justify-content: space-between;
}
.align-items-center {
	align-items: center;
}
.flex {
	@include breakpoint(768px) {
		&-md {
			display: flex;
		}
	}
	@include breakpoint(1024px) {
		&-lg {
			display: flex;
		}
	}
	@include breakpoint(1280px) {
		&-xl {
			display: flex;
		}
	}
}
html {
	min-height: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}
.sr-only {
	position: absolute!important;
	padding: 0!important;
	margin: 0!important;
	width: 0!important;
	height: 0!important;
	font-size: 0!important;
}
*,
*::before,
*::after {
	@include box-sizing(border-box);
}
body {
	position: relative;
	min-height: 100%;
	padding-bottom: 280px;
	font-family: Roboto, 'Noto Sans TC', sans-serif;
	@include breakpoint(768px) {
		padding-bottom: 190px;
	}
	&.footer--downward {
		padding-bottom: 160px;
		@include breakpoint(768px) {
			padding-bottom: 228px;
		}
		@include breakpoint(872px) {
			padding-bottom: 209px;
		}
		@include breakpoint(874px) {
			padding-bottom: 190px;
		}
	}
	&.footer--normal {
		padding-bottom: 280px;
		@include breakpoint(768px) {
			padding-bottom: 228px;
		}
		@include breakpoint(872px) {
			padding-bottom: 209px;
		}
		@include breakpoint(874px) {
			padding-bottom: 190px;
		}
	}
}
.serif {
	font-family: 'Roboto Slab', 'Noto Serif TC', serif;
}
a {
	text-decoration: none;
	@include breakpoint(1024px) {
		transition: color .2s, background-color .2s;
	}
}
img {
	display: block;
}
.clearfix,
.clearfix::before,
.clearfix::after {
	display: table;
	clear: both;
}
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}