$easing: cubic-bezier(.25, 1.7, .35, .8);
$duration: 0.6s;

header {
  position: relative;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $white;
  border-bottom: 1px solid $gray-100;
  z-index: 7;

  &.opened {
    z-index: 10;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      @include clear;
    }

    >.item {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;

      &.item--right {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        column-gap: 0.75rem;
        flex-shrink: 0;

        @media screen and (max-width: 1023px) {
          grid-template-columns: repeat(2, auto);
        }

        >* {
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }

        .btn {
          transition: transform 0.3s;
        }
      }

      &.item--center {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 1.25rem;
        overflow: hidden;

        @media screen and (max-width: 1023px) {
          gap: 0.625rem;
        }

        .item__scroll {
          display: flex;
          align-items: center;
          gap: 0.9375rem;
          overflow: hidden;
          transition: transform .3s;

          @media screen and (max-width: 1023px) {
            flex-direction: column;
            align-self: flex-start;
            align-items: flex-start;
            gap: 0;
          }
        }

        .title__share {
          overflow: hidden;

          .icon {
            color: black;
          }

          .h3 {
            padding: 0 3rem 0 2rem;
            line-height: 40px;
            transform: translateY(100%);
            transition: all .3s;
            @include ellipsis;
          }
        }
      }
    }
  }

  .hamburger {
    flex-shrink: 0;
  }

  a.logo {
    display: inline-block;
    vertical-align: middle;

    img {
      height: auto;
      max-width: 108px;
      width: 108px;
    }

    &.logo--main {
      margin-right: 20px;
    }

    &.logo--sub {
      color: $primary;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .search__icon,
  .menubar__user {
    padding: 0.25rem;
  }

  .search__icon {
    cursor: pointer;

    .circle,
    .handle {
      font-family: $icomoon-font-family;
      font-size: 1.3125rem;
    }

    .circle::before {
      @include beforeafter($icon-search, block);
    }

    .handle {
      display: none;
      font-weight: bold;

      &::before {
        @include beforeafter($icon-cancel, block);
      }
    }

    &.opened {
      .circle {
        display: none;
      }

      .handle {
        display: block;
      }
    }

    @media screen and (max-width: 1023px) {
      display: none !important;
    }
  }

  .menubar__user {
    i {
      display: block;
      font-size: 1.3125rem;

      &.icon-close::before {
        content: $icon-cancel;
        font-weight: bold;
      }
    }
  }

  .message {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 20px;
    background-color: $gray-100;
    border: 1px solid $gray-200;

    &.message--tos {
      width: 260px;
      cursor: inherit !important;

      .tos--title {
        line-height: 1.5;
        font-size: 1.125rem;
        font-weight: 500;
        color: #171717;
        word-break: break-word;

        @media screen and (min-width: 1024px) {
          font-weight: 600;
        }
      }

      p {
        font-size: 0.875rem;

        @media screen and (min-width: 1024px) {
          font-weight: 300;
        }
      }

      .btn.btn--small {
        z-index: 0;
      }
    }
  }

  &.scroll {
    .item.item--center .title__share .h3 {
      transform: translateY(0);
    }

    @media screen and (max-width: 1023px) {
      .item__scroll {
        transform: translateY(-50%);
      }
    }
  }
}

.search__block {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 1px;
  background-color: $white;
  border-bottom: 1px solid $gray-100;

  .search__item--left {
    float: left;
    width: calc(100% - 400px);
    padding-right: 30px;
  }

  .search__item--right {
    float: right;
    width: 400px;
    padding-left: 30px;
    border-left: 1px solid $gray-100;
  }
}