$icomoon-font-family: "cw_icon" !default;
$icomoon-font-path: "../fonts/cw" !default;

$icon-apple: unquote('"\\e900"');
$icon-arrow-left: unquote('"\\e901"');
$icon-arrow-right: unquote('"\\e902"');
$icon-benefits: unquote('"\\e903"');
$icon-bookmark-filled: unquote('"\\e904"');
$icon-bookmark-outlined: unquote('"\\e905"');
$icon-cancel: unquote('"\\e906"');
$icon-caret-down: unquote('"\\e907"');
$icon-caret-left: unquote('"\\e908"');
$icon-caret-right: unquote('"\\e909"');
$icon-caret-up: unquote('"\\e90a"');
$icon-check: unquote('"\\e90b"');
$icon-check-circle: unquote('"\\e90c"');
$icon-check-solid: unquote('"\\e90d"');
$icon-coin: unquote('"\\e90e"');
$icon-coupon: unquote('"\\e90f"');
$icon-down: unquote('"\\e910"');
$icon-download: unquote('"\\e911"');
$icon-download-pdf: unquote('"\\e912"');
$icon-error-solid: unquote('"\\e913"');
$icon-exclamation-circle: unquote('"\\e914"');
$icon-exclamation-solid: unquote('"\\e915"');
$icon-eyeoff: unquote('"\\e916"');
$icon-eyeon: unquote('"\\e917"');
$icon-facebook: unquote('"\\e918"');
$icon-fontsize: unquote('"\\e919"');
$icon-gift: unquote('"\\e91a"');
$icon-headphones: unquote('"\\e91b"');
$icon-instagram: unquote('"\\e91c"');
$icon-internet: unquote('"\\e91d"');
$icon-left: unquote('"\\e91e"');
$icon-line: unquote('"\\e91f"');
$icon-link: unquote('"\\e920"');
$icon-lock: unquote('"\\e921"');
$icon-mail: unquote('"\\e922"');
$icon-mail-filled: unquote('"\\e923"');
$icon-mailing: unquote('"\\e924"');
$icon-member-download: unquote('"\\e925"');
$icon-member-invite: unquote('"\\e926"');
$icon-member-lecture: unquote('"\\e927"');
$icon-member-notification: unquote('"\\e928"');
$icon-member-only: unquote('"\\e929"');
$icon-minus: unquote('"\\e92a"');
$icon-note: unquote('"\\e92b"');
$icon-pause-solid: unquote('"\\e92c"');
$icon-pen: unquote('"\\e92d"');
$icon-play: unquote('"\\e92e"');
$icon-play-solid: unquote('"\\e92f"');
$icon-plus: unquote('"\\e930"');
$icon-pushpin: unquote('"\\e931"');
$icon-question-circle: unquote('"\\e932"');
$icon-right: unquote('"\\e933"');
$icon-rss: unquote('"\\e934"');
$icon-search: unquote('"\\e935"');
$icon-security: unquote('"\\e936"');
$icon-sort: unquote('"\\e937"');
$icon-twitter: unquote('"\\e938"');
$icon-up: unquote('"\\e939"');
$icon-user-filled: unquote('"\\e93a"');
$icon-user-outlined: unquote('"\\e93b"');
$icon-volume: unquote('"\\e93c"');
$icon-zoom: unquote('"\\e93d"');
$icon-forward: unquote('"\\e93e"');
