@import "_basic";
@import "_general";
@import "_sheet";
@import "_variable";
@import "_space";
@import "_color";
@import "_typography";
@import "_font";
@import "_iconography";
@import "amp/_navigation";
@import "_search";
@import "amp/_header";
@import "amp/_footer";
@import "_container";
@import "article/_ad";
@import "article/_breaking";
@import "article/_player";
@import "amp/_lazyload";
@import "article/_bottombar";
.btn--text {
    color: $surface;
    text-decoration: underline;
    &:hover {
        color: $primary;
    }
}

.breadcrumb {
    font-size: 0;
    li {
        display: inline-block;
        +li {
            &::before {
                @include beforeafter('>', inline);
                padding-left: 5px;
                padding-right: 5px;
                font-size: 0.875rem;
            }
        }
        a {
            display: inline-block;
            color: $text;
            font-size: 0.875rem;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}

.source {
    display: block;
    padding-top: 5px;
    color: $secondary;
    font-size: 0.875rem;
}

.article__head {
    amp-img {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.article__body,
.article__foot {
    max-width: 740px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.preface>* {
    font-size: 1.125em;
    line-height: 1.7;
}

@import "article/_function";
@import "article/_detail";
.article__content {
    p {
        margin-top: 1.15em;
        margin-bottom: 1.15em;
        font-size: 1.125em;
        line-height: 1.7;
    }
    h2 {
        margin-top: 40px;
    }
    a {
        min-width: auto;
        padding: 0;
        color: $surface;
        text-decoration: underline;
        border: 0;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
    blockquote {
        position: relative;
        width: 300px;
        padding: 2px 0;
        margin: 40px auto;
        p {
            font-weight: 600;
        }
        &::before,
        &::after {
            position: absolute;
            left: 50%;
            width: 60px;
            height: 2px;
            margin-left: -30px;
            @include beforeafter('', block);
            background-color: $primary;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    // 小辭典
    .more {
        position: relative;
        display: inline-block;
        padding-right: 1.15em;
        padding-left: 0;
        color: $primary;
        line-height: 1.5;
        border: dashed $primary;
        border-width: 0 0 1px;
        background-color: transparent;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
        &::before {
            @include beforeafter('\e94b', block);
            position: absolute;
            top: 50%;
            right: 0;
            font-family: $icomoon-font-family;
            line-height: 1;
            @include translateY(-50%);
        }
        &:hover {
            color: $primary-variant;
        }
    }
    .more__text {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 20px 40px;
        background-color: $gray-100;
        &.active {
            display: block;
        }
    }
    amp-img {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@import "amp/_next";
@import "article/_extended";
@import "article/_keyword";
.article__recommend {
    border-top: 1px solid $black;
}

@import "amp/_card";
@import "article/_newsletter";