@charset "UTF-8";

@import "_basic";
@import "_sheet";
$icomoon-font-family: "audio" !default;
$icomoon-font-path: "../fonts" !default;

$audio-playist: "\e909";
$audio-prev-item: "\e908";
$audio-next-item: "\e90a";
$audio-play: "\e900";
$audio-pause: "\e902";
$audio-volume-up: "\e901";
$audio-volume-down: "\e905";
$audio-volume-mute: "\e904";
$audio-volume-off: "\e903";
$audio-replay-10: "\e906";
$audio-forward-10: "\e907";
@font-face {
	font-family: "#{$icomoon-font-family}";
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i8ihlx");
	src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?i8ihlx#iefix") format("embedded-opentype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?i8ihlx") format("truetype"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?i8ihlx") format("woff"),
		url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?i8ihlx##{$icomoon-font-family}") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="audio-"],
[class*=" audio-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "#{$icomoon-font-family}" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.audio-playist {
	&:before {
		content: $audio-playist;
	}
}
.audio-prev-item {
	&:before {
		content: $audio-prev-item;
	}
}
.audio-next-item {
	&:before {
		content: $audio-next-item;
	}
}
.audio-play {
	&:before {
		content: $audio-play;
	}
}
.audio-pause {
	&:before {
		content: $audio-pause;
	}
}
.audio-volume-up {
	&:before {
		content: $audio-volume-up;
	}
}
.audio-volume-down {
	&:before {
		content: $audio-volume-down;
	}
}
.audio-volume-mute {
	&:before {
		content: $audio-volume-mute;
	}
}
.audio-volume-off {
	&:before {
		content: $audio-volume-off;
	}
}
.audio-replay-10 {
	&:before {
		content: $audio-replay-10;
	}
}
.audio-forward-10 {
	&:before {
		content: $audio-forward-10;
	}
}

button > * {
	display: inline-block;
	vertical-align: middle;
	&:first-child {
		margin-right: 5px;
	}
}
.playback-rate {
	font-size: 0;
}

.green-audio-player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.player-accessible {
		.play-pause-btn,
		.controls,
		.volume__button,
		.volume__controls,
		.download {
			&:hover {
				outline: dotted 1px $gray;
			}
		}
	}
	svg, img {
		display: block;
	}
    i.audio {
        font-size: 1.25rem;
        transition: color 0.3s;
        cursor: pointer;
        &:hover {
            color: $primary;
        }
    }
	.holder {
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
		.loading {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
			.loading__spinner {
				width: 16px;
				height: 16px;
				border: 2px solid $gray-200;
				border-right-color: rgba(0, 0, 0, 0);
				border-radius: 50%;
				animation: spin 0.3s linear infinite;
			}
		}
		.play-pause-btn {
            visibility: visible;
            outline: none;
			&:focus {
				outline: none;
			}
            i.audio {
                font-size: 2rem;
            }
		}
	}
	.slider {
		flex-grow: 1;
		background-color: $gray-100;
		cursor: pointer;
		position: relative;
		.gap-progress {
			background-color: $primary;
			border-radius: inherit;
			position: absolute;
			pointer-events: none;
			.pin {
				height: 16px;
				width: 16px;
				border-radius: 8px;
				background-color: $primary;
				position: absolute;
				pointer-events: all;
				box-shadow: 0 1px 1px 0 $gray-100;
				&::after {
					content: "";
					display: block;
					background: rgba(0, 0, 0, 0);
					width: 200%;
					height: 200%;
					margin-left: -50%;
					margin-top: -50%;
					border-radius: 50%;
				}
			}
		}
	}
	.controls {
		color: $text;
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		margin-left: 15px;
        margin-right: 15px;
        font-size: .875rem;
		outline: none;
		.controls__slider {
			margin-left: 16px;
			margin-right: 16px;
			border-radius: 2px;
			height: 4px;
			.controls__progress {
				width: 0;
                height: 100%;
                background-color: $primary;
				.progress__pin {
					right: -8px;
					top: -6px;
				}
			}
		}
		span {
			cursor: default;
        }
        .time-zone {
            width: 1.875rem;
        }
		&:focus {
			outline: none;
		}
	}
	.volume {
		position: relative;
        @media screen and (max-width: 1023px) {
            display: none;
        }
        .volume__button {
			cursor: pointer;
			outline: none;
			&:focus {
				outline: none;
			}
			&.open {
				i.audio {
					color: $primary;
				}
			}
		}
		.volume__controls {
            position: absolute;
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 43px;
            height: 100px;
            background-color: $white;
            border: 1px solid $gray-200;
            z-index: 2;
            outline: 0;
            transform: translateX(-50%);
			transition: all .3s;
			.volume__slider {
				margin-top: 12px;
				margin-bottom: 12px;
				width: 6px;
				border-radius: 3px;
				.volume__progress {
                    position: absolute;
					bottom: 0;
					width: 6px;
					height: 100%;
                    background-color: $primary;
					.volume__pin {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 11px;
                        height: 11px;
                        background-color: $white;
                        border-radius: 11px;
                        border: 1px solid $secondary;
                        pointer-events: all;
                        transform: translate(-50%, -50%);
                    }
				}
			}
			&:focus {
				outline: none;
			}
			&.hidden {
				display: none;
			}
			&.top {
				bottom: 52px;
				left: -3px;
			}
			&.middle {
				bottom: -54px;
				left: 54px;
			}
			&.bottom {
				bottom: -164px;
				left: -3px;
			}
		}
	}
	.download {
		display: none;
		margin-left: 16px;
		cursor: pointer;
		outline: none;
		&:focus {
			outline: none;
		}
	}
	&:focus {
		outline: none;
	}
}
