@import "_basic";
@import "_sheet";
html {
	height: 100%;
	min-height: 100%;
}
.member__page {
	&--authorize {
		height: 100%;
		min-height: 100%;
		form {
			position: relative;
			width: 100%;
			max-width: 768px;
			height: calc(100% - 20px);
			padding: 20px 20px 44px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
			overflow: scroll;
			p {
				font-weight: 500;
			}
			.btn {
				position: absolute;
				bottom: 20px;
				left: 20px;
				width: calc(100% - 40px);
			}
			.authorize__data {
				ul {
					li {
						position: relative;
						padding: 11px 0 10px;
						+ li {
							&::before {
								@extend %before-after;
								position: absolute;
								top: 0;
								left: -1.15em;
								width: calc(100% + 1.15em);
								height: 1px;
								background-color: $gray-200;
							}
						}
					}
				}
			}
		}
		.logo--circle {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			margin-left: auto;
			margin-right: auto;
			background-color: $primary;
			border-radius: 50%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
		}
	}
}