@import "_basic";
@import "_sheet";
html {
	height: 100%;
	min-height: 100%;
}
.member__page {
	&--authorize {
		height: 100%;
		min-height: 100%;
		&.flex {
			align-items: center;
			justify-content: center;
		}
		form {
			width: 100%;
			max-width: 768px;
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			p {
				font-weight: 500;
			}
			.h5 {
				color: $secondary-variant;
				font-weight: 400;
				line-height: 1.5;
			}
		}
		.logo--circle {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			margin-left: auto;
			margin-right: auto;
			background-color: $primary;
			border-radius: 50%;
			overflow: hidden;
			img {
				display: block;
				width: 100%;
			}
		}
	}
}