@import "_basic";
@import "_sheet";
@import "_variable";
.serial__page {
    position: relative;
    min-height: 100vh;
    @media screen and (min-width: 1024px) {
        padding-bottom: 420px;
    }
    .container {
        @media screen and (min-width: 375px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        &::before,
        &::after {
            @extend %before-after;
            display: table;
            clear: both;
        }
    }
    header {
        border-bottom: 1px solid $gray-200;
    }
    main {
        margin-top: 20px;
        justify-content: center;
        article {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
            @media screen and (min-width: 375px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @media screen and (min-width: 1024px) {
                width: 620px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 0px;
                padding-right: 0px;
            }
            .step {
                &__group {
                    // padding-top: 20px;
                    padding-bottom: 20px;
                    justify-content: space-between;
                }
                &__item {
                    position: relative;
                    padding-right: calc((100% - (66px * 3)) / 2);
                    color: $secondary;
                    &--past {
                        color: $primary;
                        font-weight: 500;
                    }
                    &--now {
                        color: $primary;
                        font-weight: 500;
                    }
                    span {
                        display: block;
                    }
                    &::before {
                        content: $icon-arrow-right;
                        font-family: $icomoon-font-family;
                        position: absolute;
                        top: 50%;
                        left: calc( 100% - ((100% - ((65px * 3)) / 2) / 2) - 20px);
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        padding-right: 0;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        form {
            &::before,
            &::after {
                @extend %before-after;
                display: table;
                clear: both;
            }
            .form__group .form__group__input {
                min-width: auto;
                width: 100%;
            }
        }
        .app {
            &__group {
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 768px) {
                    padding: 1.25em;
                }
                &--left {
                    margin-right: 2.5em;
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }
            &__title {
                align-items: center;
                &--icon {
                    height: 53px;
                    @media screen and (min-width: 768px) {
                        height: 48px;
                    }
                }
                &--text {
                    margin-left: 0.5em;
                    @media screen and (min-width: 768px) {
                        margin-left: 1em;
                    }
                    @media screen and (max-width: 767px) {
                        width: calc(100% - 0.5em - 53px);
                    }
                    h3 {
                        margin-top: 0;
                        margin-bottom: 0.25em;
                        line-height: 1;
                    }
                }
            }
            &__img {
                margin-top: 1.25em;
                li+li {
                    margin-left: 1em;
                }
                img {
                    height: 35px;
                    @media screen and (min-width: 768px) {
                        height: 44px;
                    }
                }
            }
        }
    }
    section {
        &.group {
            margin-bottom: 20px;
            .flex-container,
            .tab__content,
            .content__group {
                .label+.label {
                    margin-top: 1.25rem;
                }
                .form__group {
                    max-width: none;
                    >a {
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                    &.form__group--selection {
                        >.label {
                            display: none;
                            &--set {
                                display: flex;
                                @media screen and (max-width: 767px) {
                                    display: block;
                                }
                                label {
                                    width: 100%;
                                    @media screen and (max-width: 767px) {
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (min-width: 768px) {
                                        margin-right: 20px;
                                        width: calc(100% - 167px);
                                    }
                                }
                                .form__group__help--strong {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            .flex-container {
                padding: 20px;
                border: 1px solid $gray-200;
                p {
                    span.h5 {
                        display: block;
                        margin-top: 0.5em;
                        margin-bottom: 0;
                    }
                }
                .col--left {
                    p {
                        margin-top: 0px;
                        @media screen and (min-width: 768px) {
                            margin-bottom: 0;
                        }
                        @media screen and (max-width: 767px) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            .content__group {
                font-size: 1rem;
                border: 1px solid $gray-200;
                .content {
                    &__list {
                        @extend %list-reset;
                        padding: 15px 20px;
                        +.content__list {
                            border-top: 1px solid $gray-200;
                        }
                    }
                    &__item {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        justify-content: space-between;
                        transition: background-color, 0.3s;
                        @media screen and (min-width: 375px) {
                            display: flex;
                            line-height: 1.5;
                        }
                        &:hover {
                            background-color: $gray;
                        }
                        &--title {
                            margin-bottom: 1rem;
                        }
                        &__amount {
                            word-break: break-all;
                            @media screen and (min-width: 375px) {
                                width: 50%;
                                text-align: right;
                            }
                        }
                    }
                    &__total {
                        display: flex;
                        padding: 20px;
                        border-top: 1px solid $gray-200;
                        justify-content: space-between;
                        &__amount {
                            font-size: 1.125em;
                            font-weight: 500;
                            span {
                                padding-left: 1em;
                            }
                        }
                    }
                }
            }
            h3,
            .h3 {
                margin-bottom: 5px;
            }
            &[class*='--disabled'] {
                h3,
                .h3,
                p,
                span,
                a,
                i {
                    color: $gray-200 !important;
                }
            }
        }
    }
}