.twm-success-msg {
  padding: 1.25rem;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  background: #F7F7F7;
  word-break: break-all;

  p {
    margin: 0;
    line-height: 1.5;
  }

  .twm-success-msg-left {
    flex-shrink: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #003A9F;
  }

  .twm-success-msg-right {
    flex-grow: 1;
  }
}

.twm-trending {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  @media screen and (max-width: 699px) {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
}

.twm-trending-card {
  width: 23.75%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #E9E9E9;
  align-self: unset;

  @media screen and (max-width: 699px) {
    width: 100%;
    flex-direction: row;
  }

  p {
    margin: 0;
    word-break: break-all;
  }

  picture {
    flex-shrink: 0;
    overflow: hidden;

    * {
      width: 100%;
    }
  }
}

.twm-cw-more {
  margin-top: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875rem;

  .link-btn {
    border-width: 0;
    border-style: solid;
    border-color: #003A9F;
    text-decoration: none;
    transition-property: border-color, color;
    transition-duration: 300ms;

    &:hover {
      border-color: #D60C18;
    }

    @media screen and (max-width: 699px) {
      padding: 0.5rem 1rem;
      border-width: 1px;
    }
  }

  @media screen and (max-width: 699px) {
    margin-top: 1.25rem;
  }
}

.twm-app-promote-desktop {
  .twm-app-qrcode {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    img {
      width: 12.5rem;
    }
  }

  @media screen and (max-width: 699px) {
    display: none;
  }
}

.twm-app-promote-mobile {
  @media screen and (min-width: 700px) {
    display: none;
  }
}
