@import "_basic";
@import "_sheet";
@import "_variable";

header {
    padding-top: 0;
    .universalbar {
        background-color: $gray-100;
        ul {
            @include list(0 auto 12px, 0, none);
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media screen and (min-width: 414px) {
                justify-content: flex-end;
            }
        }
        a {
            display: block;
            padding: .25rem .125rem;
            color: $black;
            font-size: .75rem;
            @media screen and (min-width: 414px) {
                padding-left: .25rem;
                padding-right: .25rem;
            }
            span {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}
