@import "_basic";
@import "_sheet";
.webaccess__page {
    h1 {
        margin-bottom: 5px;
        @include breakpoint(max-width 767px) {
            font-size: 22px;
        }
    }
    .h1 {
        margin-bottom: 10px;
        font-weight: 500;
        @include breakpoint(max-width 767px) {
            font-size: 22px;
        }
    }
    p {
        @include breakpoint(768px) {
            // font-size: 1.125rem !important;
            span.mark {
                display: block;
                width: 0;
                height: 0;
                overflow: hidden;
            }
        }
    }
    a.btn {
        margin-top: 25px;
        margin-bottom: 25px;
        @include breakpoint(768px) {
            margin-top: 30px;
            margin-bottom: 40px;
        }
    }
    header {
        border-bottom: 1px solid $gray-200;
        .align-items-center {
            a.logo {
                margin-left: 10px;
            }
            .hamburger {
                position: relative;
                top: auto;
                left: 0;
                @include transform(none);
            }
        }
    }
    main {
        justify-content: center;
        section {
            padding-top: 40px;
            padding-bottom: 40px;
            @include breakpoint(768px) {
                padding-top: 100px;
                padding-bottom: 100px;
            }
            .container-fluid {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
            }
            .container {
                padding-left: 20px;
                padding-right: 20px;
                @include breakpoint(1024px) {
                    width: 784px;
                }
            }
            &#access {
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                &:not(.sp) {
                    @include breakpoint(768px) {
                        padding-top: 40px;
                        padding-bottom: 40px;
                    }
                }
            }
            &#edit,
            &#award {
                background-color: $gray;
            }
            &#edit .container {
                @include breakpoint(max-width 767px) {
                    text-align: center;
                    a.btn {
                        margin-bottom: 40px;
                    }
                }
                @include breakpoint(768px) {
                    display: flex;
                    align-items: center;
                }
                @include breakpoint(1200px) {
                    width: 970px;
                }
                .edit__text {
                    width: 100%;
                    @include breakpoint(768px) {
                        padding-right: 30px;
                        width: 320px;
                    }
                    @include breakpoint(1200px) {
                        padding-right: 50px;
                        width: 400px;
                    }
                }
                .edit__img {
                    width: 100%;
                    @include breakpoint(768px) {
                        width: calc(100% - 320px);
                    }
                    @include breakpoint(1200px) {
                        width: calc(100% - 400px);
                    }
                    img {
                        display: block;
                    }
                }
            }
            &#faq .container {
                @include breakpoint(max-width 374px) {
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
    .slideshow {
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;
        @include breakpoint(1024px) {
            overflow: hidden;
        }
        @include breakpoint(max-width 1023px) {
            width: 240px;
            margin-left: auto;
            margin-right: auto;
        }
        &::before {
            @extend %before-after;
            position: absolute;
            top: 0;
            left: 50%;
            width: 240px;
            height: 0;
            padding-top: 480px;
            background-image: url(../images/webaccess/phone.png);
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(contain);
            @include translateX(-50%);
            z-index: 2;
        }
        .slider {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(max-width 1023px) {
                overflow: hidden;
            }
            &__navi {
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                z-index: 5;
                @include breakpoint(1024px) {
                    display: none;
                }
                &.slider__navi--prev {
                    right: 100%;
                    @include breakpoint(375px) {
                        right: 105%;
                    }
                    @include breakpoint(414px) {
                        right: 110%;
                    }
                }
                &.slider__navi--next {
                    left: 100%;
                    @include breakpoint(375px) {
                        left: 105%;
                    }
                    @include breakpoint(414px) {
                        left: 110%;
                    }
                }
                a.icon-btn {
                    width: 40px;
                    height: 60px;
                    color: $secondary;
                    @include breakpoint(1024px) {
                        width: 60px;
                        height: 80px;
                    }
                }
                &:hover a {
                    color: $surface;
                }
                i {
                    font-size: 1.5rem;
                    @include breakpoint(1024px) {
                        font-size: 2.25rem;
                    }
                }
            }
            &__wrap {
                position: relative;
                &::before,
                &::after {
                    @extend %before-after;
                    clear: both;
                }
            }
            .slider__item {
                float: left;
                position: relative;
                width: 240px;
                padding-left: 14px;
                padding-right: 14px;
                img {
                    border: 1px solid $gray-200;
                }
            }
        }
    }
    .globel {
        position: relative;
        &__earth::after {
            @extend %before-after;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &__item {
            position: absolute;
            color: $white;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            white-space: pre-wrap;
            /* css-3 */
            white-space: -moz-pre-wrap;
            /* Mozilla, since 1999 */
            white-space: -pre-wrap;
            /* Opera 4-6 */
            white-space: -o-pre-wrap;
            /* Opera 7 */
            word-wrap: break-word;
            /* Internet Explorer 5.5+ */
            background-color: $black;
            border: 1px solid $white;
            @include breakpoint(700px) {
                width: calc(1em + 18px);
                padding: 15px 8px;
            }
            @include breakpoint(max-width 699px) {
                padding: 6px 1px;
                width: calc(1em + 4px);
                font-size: 14px;
            }
            &:nth-child(1) {
                top: 35%;
                left: 12%;
                @include breakpoint(700px) {
                    top: 34%;
                    left: 15%;
                }
            }
            &:nth-child(2) {
                top: 14%;
                left: 32%;
                @include breakpoint(700px) {
                    top: 19%;
                }
            }
            &:nth-child(3) {
                top: 43%;
                left: 42%;
                @include breakpoint(700px) {
                    top: 39%;
                    left: 40%;
                }
            }
            &:nth-child(4) {
                top: 25%;
                left: 60%;
                @include breakpoint(700px) {
                    top: 27%;
                    left: 59%;
                }
            }
            &:nth-child(5) {
                top: 33%;
                left: 80%;
                @include breakpoint(700px) {
                    top: 32%;
                    left: 79%;
                }
            }
        }
    }
    .award {
        width: 100%;
        @include breakpoint(375px) {
            width: 80%;
        }
        @include breakpoint(700px) {
            width: 196px;
        }
        @include breakpoint(max-width 699px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        &__gruop {
            @include breakpoint(700px) {
                justify-content: space-between;
            }
        }
        .award__img {
            width: 196px;
            margin: 0 auto 10px;
            padding: 20px 0;
            color: #CCA86A;
            background-image: url('../images/webaccess/award.png');
            background-repeat: no-repeat;
            background-position: center;
            @include background-size(contain);
            >div {
                display: table;
                margin: auto;
            }
            .award__name {
                border-top: 1px solid rgba(204, 168, 106, 0.4);
            }
        }
        .award__txt {
            color: $secondary;
            span {
                display: inline-block;
                font-size: 14px;
                &::after {
                    content: '„ÄÅ';
                }
                &:last-child::after {
                    content: '';
                }
            }
        }
    }
    .accordion {
        &__item {
            &::before,
            &::after {
                @extend %before-after;
                clear: both;
            }
            &:nth-child(odd) {
                background-color: $gray;
            }
            &__header {
                position: relative;
                padding: 0.65em 1.125em;
                cursor: pointer;
                @include transition(background-color,
                0.3s);
                &::before,
                &::after {
                    @extend %before-after;
                    clear: both;
                }
                &.active,
                &:hover {
                    color: $primary;
                }
                span {
                    display: inline-block;
                    &.number {
                        width: 1.5rem;
                    }
                }
                p {
                    color: $white;
                }
                i.icon {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    padding: 1rem;
                    @include translateY(-50%);
                }
            }
            &__panel {
                display: none;
                position: relative;
                padding: 1rem 1rem 1rem 2.5rem;
                &::before,
                &::after {
                    @extend %before-after;
                    clear: both;
                }
            }
        }
    }
    .accordion__item__panel {
        .h3 {
            font-weight: 500;
            line-height: 1.5;
        }
        .decimal--step {
            margin-left: 2.4em;
            @include breakpoint(768px) {
                margin-left: 2.1em;
            }
            li {
                position: relative;
                &::before {
                    content: 'Step';
                    display: inline-block;
                    position: absolute;
                    top: 2px;
                    right: calc(100% + 1.5em);
                    font-size: 1rem;
                    line-height: 1.5;
                    @include breakpoint(768px) {
                        right: calc(100% + 1.2em);
                    }
                }
            }
        }
    }
}