@import "_basic";
@import "_sheet";
@import "_variable";

.form {
    display: flex;
    flex-wrap: wrap;
    .form__group {
        max-width: none;
        width: calc(100% - 160px);
    }
}

#sound {
    display: none;
}

section {
    &.section--btn {
        font-size: 0;
        button {
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
    &.section--sop {
        display: none;
    }
}
