footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $gray-100;
    z-index: 1;
    a {
        color: $text;
        &:hover {
            color: $primary;
        }
    }
    .channel__group {
        align-items: flex-start;
        justify-content: space-between;
    }
    .channel__item {
        border-bottom: 1px solid $gray-200;
        .channel__title {
            position: relative;
            font-size: 1rem;
            background-color: transparent;
            border: 0;
            &:focus {
                outline: 0;
            }
            i.icon {
                position: absolute;
                top: 50%;
                right: 0;
                @include translateY(translateY(calc(-50% + 5px)));
                @include transition(transform 0.2s);
                &.active {
                    @include transform(translateY(calc(-50% + 5px)) rotate(180deg));
                }
            }
        }
        .channel__option {
            display: none;
            ul {
                @include list(0, 0, none);
                font-size: 0.875rem;
                a {
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        &:first-child {
            .channel__option {
                ul {
                    @include breakpoint(1024px) {
                        column-count: 2;
                        column-gap: 1em;
                    }
                }
            }
        }
    }
    .cwgroup__copyright {
        text-align: center;
        ul.sns {
            @include list(0, 0, none);
            font-size: 0;
            li {
                display: inline-block;
                font-size: 1.5rem;
                vertical-align: middle;
                +li {
                    margin-left: 20px;
                }
                a {
                    display: block;
                    i.icon {
                        display: block;
                    }
                }
            }
        }
        .contact,
        .copyright {
            span {
                display: block;
                font-size: 0.75rem;
            }
        }
    }
}