footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $gray-100;
    z-index: 1;
    a {
        color: $text;
        &:hover {
            color: $primary;
        }
    }
    .channel__group {
        align-items: flex-start;
        justify-content: space-between;
    }
    .channel__item {
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
        .channel__title {
            position: relative;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1rem;
            font-weight: 500;
            background-color: transparent;
            border: 0;
            &:focus {
                outline: 0;
            }
            i.icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(calc(-50% + 5px));
                transition: transform 0.2s;
                &.active {
                    transform: translateY(calc(-50% + 5px)) rotate(180deg);
                }
            }
        }
        .channel__option {
            display: none;
            ul {
                @include list(0, 0, none);
                font-size: 0.875rem;
                a {
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
        &[expanded] {
            .channel__title i.icon {
                transform: translateY(calc(-50% + 5px)) rotate(180deg);
            }
        }
    }
    .cwgroup__copyright {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 30px;
        > div {
            width: 100%;
        }
        ul {
            @include list(0, 0, none);
            font-size: 0;
            &.sns {
                margin-top: 20px;
                margin-bottom: 10px;
                li {
                    display: inline-block;
                    font-size: 1.5rem;
                    vertical-align: middle;
                    + li {
                        margin-left: 20px;
                    }
                    a {
                        display: block;
                        i.icon {
                            display: block;
                        }
                        &.facebook:hover {
                            color: $facebook;
                        }
                        &.line:hover {
                            color: $line;
                        }
                        &.instagram:hover {
                            color: $instagram;
                        }
                        &.rss:hover {
                            color: $rss;
                        }
                    }
                }
            }
            &.app__img {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    a {
                        display: block;
                        width: 122px;
                    }
                    +li {
                        margin-left: 10px;
                        a {
                            width: 134px;
                        }
                    }
                }
            }
        }
        .contact,
        .copyright {
            > span {
                display: block;
                font-size: 0.75rem;
            }
        }
    }
}