ul.article__share {
    @include list(0, 0, none);
    li {
        display: inline-block;
        +li {
            margin-left: calc((100% - 120px) / 4);
        }
        &.facebook {
            a {
                color: $facebook;
            }
        }
        &.line {
            a {
                color: $line;
            }
        }
        a {
            display: block;
            padding: 10px;
            color: $gray-400;
            @include transition(all 0.2s);
            cursor: pointer;
            i.icon {
                display: block;
                text-align: center;
                font-size: 1.25rem;
                &.icon-fontsize {
                    font-size: 1rem;
                }
            }
            &:hover {
                color: $primary;
                border-color: $primary;
            }
        }
    }
}