body {
    padding-top: 65px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $white;
    border-bottom: 1px solid $gray-100;
    z-index: 5;
    .container {
        position: relative;
        font-size: 0;
        &::after {
            @include clear;
        }
        >.item {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            &.item--left,
            &.item--right {
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                z-index: 1;
                >* {
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
            &.item--left {
                left: 20px;
            }
            &.item--right {
                right: 20px;
            }
            &.item--center {
                width: 100%;
                height: 40px;
                padding-left: 20px;
                padding-right: 20px;
                overflow: hidden;
                .item__scroll {
                    position: relative;
                    top: 0;
                    @include transition(top 0.3s);
                }
                .logo__set--40 {
                    display: inline-block;
                    position: relative;
                    padding: 8px 0;
                    margin-left: 20px;
                    @include breakpoint(375px) {
                        padding: 5px 0;
                    }
                    @include breakpoint(1024px) {
                        padding: 3px 0;
                    }
                    a.logo {
                        display: block;
                        amp-img {
                            width: 112.2px;
                            height: 24px;
                            @include breakpoint(375px) {
                                width: 140.25px;
                                height: 30px;
                            }
                            @include breakpoint(1024px) {
                                width: 158.95px;
                                height: 34px;
                            }
                        }
                        &.logo--main {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            @include translateY(-50%);
                            amp-img {
                                width: 65.23px;
                                height: 24px;
                                @include breakpoint(375px) {
                                    width: 81.53px;
                                    height: 30px;
                                }
                                @include breakpoint(1024px) {
                                    width: 92.41px;
                                    height: 34px;
                                }
                            }
                        }
                        &.logo--40 {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            @include translateY(-50%);
                            amp-img {
                                width: 42.05px;
                                height: 24px;
                                @include breakpoint(375px) {
                                    width: 52.56px;
                                    height: 30px;
                                }
                                @include breakpoint(1024px) {
                                    width: 59.56px;
                                    height: 34px;
                                }
                            }
                        }
                        &.logo--hide {
                            @include opacity(0);
                        }                
                    }
                }
                .title__share {
                    .h3 {
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .search__icon {
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        i.icon {
            font-size: 1.25rem;
        }
    }
}