amp-img {
    animation: shimmer 1s forwards linear infinite;
    background-image: linear-gradient(to right, rgba($secondary, .05) 0%, rgba($secondary, .15) 30%, rgba($secondary, .05) 60%, rgba($secondary, .05) 100%);
    background-size: 800px 100px;
    img {
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s 0.3s;
    }
    &[i-amphtml-auto-lightbox-visited] {
        background: $gray-100;
        img {
            opacity: 1;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -400px 0;
    }
    100% {
        background-position: 400px 0;
    }
}