.channel-page,
.subChannel-page,
.channel-fashion-page,
.subChannel-fashion-page {
    .class-header .list-inline {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .articleGroup {
        @media screen and (min-width: 768px) {
            float: left;
            width: 650px;
        }
    }
    article {
        >.article {
            margin-bottom: 15px;
            background-color: $white;
            @media screen and (min-width: 768px) {
                border: 1px solid $gray-200;
                margin-bottom: 20px;
            }
            .caption p {
                @include lineclamp(2);
            }
        }
    }
}