.index-page {
    @media screen and (min-width: 768px) {
        min-width: $index;
    }
    .banner.text-center {
        min-height: 112px;
        @media screen and (min-width: 768px) {
            min-height: 152px;
        }
    }
    header {
        .subNav {
            position: static;
            width: 100%;
            background-color: $gray-300;
            transform: translateY(0);
            li {
                border-left-color: $white;
                &.userName {
                    background-image: url('../img/download_arrow_white.png');
                    &.opened {
                        background-image: url('../img/upload_arrow_white.png');
                    }
                }
                a {
                    color: $white;
                    &:hover {
                        color: $gray-500;
                    }
                }
            }
            >ul {
                width: 1280px;
                >li {
                    color: $white;
                }
            }
        }
        .main-header .main-header-body {
            @media screen and (min-width: 768px) {
                width: 1280px;
            }
            .logo a img {
                @media screen and (min-width: 768px) {
                    width: 134px;
                }
            }
        }
    }
    .container {
        @media screen and (min-width: 768px) {
            width: ($index + 40);
        }
    }
    .main {
        margin-top: 20px;
        @media screen and (min-width: 768px) {
            width: ($index + 40);
        }
        article {
            @media screen and (min-width: 768px) {
                width: ($index - 640);
            }
        }
        aside {
            @media screen and (max-width: 767px) {
                display: none;
                margin-top: 0px;
            }
        }
        .articleGroup {
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
                margin-bottom: 20px;
                background-color: $white;
                border: 1px solid $gray-200;
            }
            .subArticle {
                @media screen and (min-width: 768px) {
                    padding: 0 15px 20px;
                    margin: 0;
                }
                @media screen and (max-width: 767px) {
                    margin-top: 10px;
                }
            }
        }
    }
    footer .container {
        max-width: ($index + 40);
        margin: auto;
    }
}