.index-page {
    @media screen and (min-width: 768px) {
        min-width: $index;
    }
    .banner.text-center {
        min-height: 112px;
        @media screen and (min-width: 768px) {
            min-height: 152px;
        }
    }
    header {
        .subNav {
            position: static;
            width: 100%;
            background-color: $gray-300;
            transform: translateY(0);
            li {
                border-left-color: $white;
                &.userName {
                    background-image: url('../img/download_arrow_white.png');
                    &.opened {
                        background-image: url('../img/upload_arrow_white.png');
                    }
                }
                a {
                    color: $white;
                    &:hover {
                        color: $gray-500;
                    }
                }
            }
            >ul {
                width: 1280px;
                >li {
                    color: $white;
                }
            }
        }
        .main-header .main-header-body {
            @media screen and (min-width: 768px) {
                width: 1280px;
            }
            .logo a img {
                @media screen and (min-width: 768px) {
                    width: 134px;
                }
            }
        }
    }
    .container {
        @media screen and (min-width: 768px) {
            width: ($index + 40);
        }
    }
    .main {
        margin-top: 20px;
        @media screen and (min-width: 768px) {
            width: ($index + 40);
        }
        article {
            @media screen and (min-width: 768px) {
                width: ($index - 640);
            }
        }
        aside {
            @media screen and (max-width: 767px) {
                display: none;
                margin-top: 0px;
            }
        }
        .articleGroup {
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
                margin-bottom: 20px;
                background-color: $white;
                border: 1px solid $gray-200;
            }
            .subArticle {
                @media screen and (min-width: 768px) {
                    padding: 0 15px 20px;
                    margin: 0;
                }
                @media screen and (max-width: 767px) {
                    margin-top: 10px;
                }
            }
        }
        .magazine {
            background-color: #EEE;
            display: flex;
            padding: 20px;
            margin: 15px 0;
            @media screen and (min-width: 768px) {
                padding: 15px;
                margin: 20px 0;
            }
            .img {
                width: 120px;
                flex: 0 0 120px;
                margin-right: 12px;
                @media screen and (min-width: 768px) {
                    margin-right: 24px;
                }
                img {
                    width: 100%;
                }
            }
            .text {
                width: calc(100% - 144px);
                & > * {
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
                .subText {
                    font-size: 0.875rem;
                    line-height: 1;
                    .number {
                        color: #d60c18;
                        margin-right: 20px;
                    }
                    .date {
                        color: #939EA7;
                    }
                }
                .h2 a {
                    color: #000;
                    max-height: 61px;
                    line-height: 1.4;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    @media screen and (min-width: 768px) {
                        max-height: 33px;
                        -webkit-line-clamp: 1;
                    }
                    &:hover {
                        color: #d60c18;
                    }
                }
                .describtion {
                    max-height: 70px;
                    line-height: 1.5;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
                .cta {
                    text-align: right;
                    padding-right: 5px;
                    margin-top: 10px;
                    a {
                        text-decoration: none;
                    }
                    i {
                        margin-left: 5px;
                        vertical-align: text-top;
                    }
                }
            }
        }
    }
    footer .container {
        max-width: ($index + 40);
        margin: auto;
    }
}