.mgz-index-page,
.single-magz-page {
    article {
        @media screen and (min-width: 768px) {
            width: ($article - 350);
        }
    }
}

.mgz-index-page {
    .mgzIndexList {
        @include listrest(0 -10px, 0, none);
        font-size: 0;
        >li {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 20px;
            vertical-align: top;
            @media screen and (min-width: 414px) {
                display: inline-block;
                width: 50%;
            }
            @media screen and (min-width: 590px) {
                width: 33.333%;
            }
            @media screen and (min-width: 768px) {
                width: 25%;
            }
            .pic {
                > a::before {
                    padding-top: 138.53211%;
                }
                @media screen and (max-width: 413px) {
                    display: inline-block;
                    width: 90px;
                    vertical-align: top;
                }
                img {
                    border: 1px solid $gray-100;
                }
            }
            .mgzIndexListTxt {
                position: relative;
                padding-top: 1.5rem;
                font-size: 0.875rem;
                @media screen and (min-width: 414px) {
                    margin-top: 10px;
                }
                @media screen and (max-width: 413px) {
                    display: inline-block;
                    width: calc(100% - 100px);
                    padding-left: 1rem;
                    vertical-align: top;
                }
                p.mgzNb {
                    position: absolute;
                    top: 0;
                    left: 1rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    color: $primary;
                    @media screen and (min-width: 414px) {
                        left: 0;
                    }
                }
                time {
                    position: absolute;
                    top: 0;
                    color: $gray-300;
                    @media screen and (min-width: 414px) {
                        right: 0;
                    }
                    @media screen and (max-width: 413px) {
                        left: 5em;
                    }
                }
                a {
                    display: block;
                    color: $black;
                    &:hover {
                        color: $primary;
                    }
                    h2 {
                        margin-top: 0;
                        // margin-bottom: 0;
                        font-size: 1.125rem;
                        line-height: 1.25;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.single-magz-page {
    .mgz-index {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 1fr;
        grid-template-columns: 35% auto;
        grid-template-areas:
            'picture title'
            'picture body';

        @media screen and (max-width: 767px) {
            column-gap: 0.625rem;
            row-gap: 1rem;
            grid-template-rows: auto;
            grid-template-columns: 45% auto;
            grid-template-areas:
                'picture title'
                'body body';
        }

        p {
            margin: 0;
        }

        .mgz-picture {
            grid-area: picture;

            img {
                width: 100%;
            }
        }

        .mgz-title {
            h1 {
                margin: 0;
                font-size: 2rem;
                font-weight: normal;
                line-height: 1.25;
            }

            p {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: $primary;
            }

            time {
                color: $gray-300;
            }
        }

        .mgz-body {
            grid-area: body;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .mgz-preface {
            flex-grow: 1;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            text-align: justify;
        }

        .maz-cta {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            a {
                flex-grow: 1;
            }
        }
    }

    .articleGroup {
        @media screen and (max-width: 767px) {
            margin-top: 1.5rem;
        }
        .h2 {
            font-weight: normal;
            @media screen and (max-width: 767px) {
                padding: 10px;
                font-size: 1.125rem;
                line-height: 1.25;
                background-color: $gray-200;
            }
            @media screen and (min-width: 768px) {
                padding-top: 1em;
                padding-bottom: 0;
                font-size: 1.5rem;
            }
        }
        .subArticle {
            p {
                color: $gray-500;
            }
            @media screen and (max-width: 767px) {
                margin-top: 0;
                margin-bottom: 0;
                border-top-width: 0;
                .pic {
                    display: none;
                }
                .caption {
                    .channelTitle {
                        display: none;
                    }
                    h3 a {
                        font-size: 1.25rem;
                    }
                    p {
                        display: -webkit-box !important;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                padding: 0;
                margin-bottom: 1.5rem;
            }
        }
    }
}