$controls-translate: 0.25em;

.pagination {
  @include listrest(40px 0 0, 0, none);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  clear: both;

  li {
    display: inline-block;
    font-size: 1rem;
    transition: translate 0.3s;

    a,
    span {
      width: 30px;
      height: 30px;
      padding: 4px 0;
      display: block;
      line-height: 22px;
      text-align: center;
      color: $black;
    }

    &:hover,
    &.active {
      a,
      span {
        background-color: $gray-300;
        color: $white;
      }
    }

    &.prev,
    &.next,
    &.disabled {
      a,
      span {
        background-color: transparent;
      }
    }

    &.prev {
      &:hover {
        translate: -$controls-translate 0;
      }

      a,
      span {
        background-image: url('../img/prev-arrow-b.gif');
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &.next {
      &:hover {
        translate: $controls-translate 0;
      }

      a,
      span {
        background-image: url('../img/next-arrow-b.gif');
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}