body.issue .main h1 { margin: 10px 0 20px; }

body.issue .main .essaySNS { margin-bottom: 40px; font-size: 1.125rem; line-height: 1.8; }

body.issue .main .essaySNS::after { content: ""; display: table; clear: both; }

@media screen and (max-width: 1023px) { body.issue .main .essaySNS.desktopUsed { display: none !important; } }

@media screen and (min-width: 1024px) { body.issue .main .essaySNS.mobileUsed { display: none !important; } }

body.issue .main .essaySNS .h1-phase { margin-top: 1em; margin-bottom: 1em; }

body.issue .main .sns-list { text-align: center; }

body.issue .main .sns-list > div.fbShare { margin-left: 0; }

body.issue .main .sns-list > div.title-text, body.issue .main .sns-list > div.twitter, body.issue .main .sns-list > div.whatapp { display: none; }

body.issue .main .sns-list > div a .txt { display: none; }

@media screen and (max-width: 1023px) { body.issue .main .article-header { margin-left: -20px; margin-right: -20px; } }

body.issue .main .article-header .slider { margin: 0; padding: 0; list-style: none; border: 0; }

body.issue .main .article-header .slider img { display: block; width: 100%; height: auto; }

body.issue .main .article-header .slider p { display: none; }

body.issue .main > article .h2 { margin-top: 30px; margin-bottom: 10px; }

@media screen and (min-width: 768px) { body.issue .main > article .h2 { margin-top: 40px; } }

body.issue .main > article > div:not(.h2):not(.paywallAnnounce) { font-size: 0; }

body.issue .main > article .list-article-item { width: 100%; margin-bottom: 20px; vertical-align: text-top; }

@media screen and (max-width: 767px) { body.issue .main > article .list-article-item { border: 1px solid #D3D5D7; } }

@media screen and (min-width: 768px) { body.issue .main > article .list-article-item { display: inline-block; width: calc((100% - 40px) / 3); margin-left: 20px; margin-bottom: 30px; }
  body.issue .main > article .list-article-item:nth-child(3n+1) { margin-left: 0; } }

body.issue .main > article .list-article-item figure.pic { margin: 0; }

body.issue .main > article .list-article-item figure.pic > a::before { z-index: 1; }

body.issue .main > article .list-article-item figure.pic > a::after { content: ""; display: block; width: 100%; padding-top: 66.984127%; }

body.issue .main > article .list-article-item figure.pic > a img { position: absolute; top: 0; left: 0; width: 100%; height: auto; }

body.issue .main > article .list-article-item figcaption { position: absolute; top: 0; left: 0; opacity: 0; }

@media screen and (min-width: 768px) { body.issue .main > article .list-article-item .txt { margin-top: 10px; } }

@media screen and (max-width: 767px) { body.issue .main > article .list-article-item .txt { margin: 10px; } }

body.issue .main > article .list-article-item .txt h2 { margin-top: 0; margin-bottom: 0; font-size: 1.125rem; font-weight: normal; }

@media screen and (min-width: 768px) { body.issue .main > article .list-article-item .txt h2 { font-size: 1rem; } }

body.issue .main > article .list-article-item .txt h2 a { display: block; color: #171717; }

body.issue .main > article .list-article-item .txt h2 a:hover { color: #D60C18; }

body.issue footer { padding-bottom: 70px; }

@media screen and (min-width: 1024px) { body.issue footer { padding-bottom: 90px; } }
/*# sourceMappingURL=mainIssue.css.map */