.feature__page section .card__img::before, .feature__page section .embed:before, .feature__page section .slideshow .slider__wrap::before, .feature__page section .slideshow .slider__wrap::after, .feature__page section .slideshow.slideshow--column .slider__item::before, .feature__page section .slideshow.slideshow--column1 .slider__item::before, .feature__page section .slideshow.slideshow--column2 .slider__item::before, .feature__page section .slideshow .slider__thumbnail .thumbnail__img::before, .feature__page p.hidden::before {
  content: '';
  display: block;
}

.feature__page section .author__group, .feature__page section .sponsor__group, .feature__page .sns__group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature__page {
  padding-top: 0 !important;
}

.feature__page nav.menubar--sub2 ul.menubar__user {
  display: block !important;
}

.feature__page nav.menubar--sub2 ul.menubar__user::before {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .feature__page nav.menubar--sub2 .menubar__user--member {
    top: 41px;
  }
}

.feature__page header {
  position: relative;
  border-color: transparent;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.mode--dark.feature__page header {
  color: #fff;
  background-color: rgba(23, 23, 23, 0.4);
}

.mode--light.feature__page header {
  color: #171717;
  background-color: rgba(255, 255, 255, 0.4);
}

.feature__page header.behavior--scroll {
  color: #171717;
  background-color: #fff;
  border-color: #D3D5D7;
}

.feature__page header .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__page header .flex a.logo {
  margin-left: 10px;
  margin-right: 10px;
}

.feature__page header .flex a.logo img {
  height: 30px;
  width: auto;
  max-width: unset;
}

@media screen and (min-width: 1260px) {
  .feature__page header .flex a.logo img {
    height: 50px;
  }
}

.feature__page header .container-fluid > .container {
  padding-left: 10px;
}

@media screen and (min-width: 1260px) {
  .feature__page header .container-fluid > .container {
    padding-left: 40px;
  }
}

.feature__page header .container {
  max-width: 1260px;
  width: 100%;
}

@media screen and (min-width: 1260px) {
  .feature__page header nav.menubar--sub2 {
    right: calc((100% - 1260px) / 2);
  }
}

.feature__page header nav.menubar--sub2 .menubar__user {
  color: currentColor;
}

.feature__page header nav.menubar--sub2 .menubar__user .menubar__user--signin,
.feature__page header nav.menubar--sub2 .menubar__user .menubar__user--login {
  color: currentColor;
}

.feature__page .edit__department {
  padding: 0.35em 0;
  font-size: 0.875em;
}

.mode--dark.feature__page .edit__department {
  color: #EEEEEE;
  background-color: #171717;
}

.mode--light.feature__page .edit__department {
  color: #939EA7;
  background-color: #EEEEEE;
}

.feature__page .hamburger {
  color: #D60C18;
}

.feature__page .hamburger span {
  background-color: #D60C18;
}

.feature__page .scroll--down {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  margin: 20px auto 0;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: .75rem;
  overflow: hidden;
  cursor: pointer;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .feature__page .scroll--down {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
  }
}

.feature__page .scroll--down::before, .feature__page .scroll--down::after {
  content: "";
  display: block;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .feature__page .scroll--down::before, .feature__page .scroll--down::after {
    display: none;
  }
}

.feature__page .scroll--down::before {
  width: 100%;
  padding-top: 166.6666666667%;
}

.feature__page .scroll--down::after {
  position: absolute;
  top: .5em;
  left: 50%;
  width: 2px;
  height: .5em;
  margin-left: -1px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-animation: scrollDown 1.2s ease infinite;
          animation: scrollDown 1.2s ease infinite;
}

.feature__page .scroll--down i {
  display: none;
  color: #fff;
  font-weight: bold;
  -webkit-animation: scrollDown 1.2s ease infinite;
          animation: scrollDown 1.2s ease infinite;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .feature__page .scroll--down i {
    display: block;
  }
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translateY(-0.25em);
            transform: translateY(-0.25em);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0.25em);
            transform: translateY(0.25em);
    opacity: 0;
  }
}

.feature__page section {
  border-top: 1px solid #D3D5D7;
}

.feature__page section:first-child {
  border-top: 0;
}

.feature__page section:first-child .slideshow {
  position: relative;
}

.feature__page section:first-child .slideshow::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 149.275362%;
}

@media (orientation: landscape) {
  .feature__page section:first-child .slideshow::before {
    padding-top: 56.25%;
  }
}

.feature__page section:first-child .slideshow .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.feature__page section:first-child .slideshow .slider__item::after {
  content: "";
  display: block;
  width: 100%;
}

.feature__page section:nth-last-child(2) > .container {
  padding-bottom: 40px;
}

.feature__page section.section--preface > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feature__page section > .container,
.feature__page section > .container-fluid {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .feature__page section > .container,
  .feature__page section > .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .feature__page section > .container > .row,
  .feature__page section > .container-fluid > .row {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.feature__page section > .container {
  max-width: 880px;
}

.feature__page section > .container-fluid {
  width: 100%;
}

.feature__page section p.text--summary {
  color: #003a9f;
}

.feature__page section p.text--update {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .feature__page section .img__group {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.feature__page section .img__group img {
  width: 100%;
  height: auto;
}

.feature__page section .img__group span {
  display: block;
  padding-top: 0.4em;
  color: #939EA7;
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  .feature__page section .img__group span {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature__page section .img__group h3 {
  display: block;
  padding-top: 0.4em;
  color: #939EA7;
  font-size: 0.875rem;
  line-height: unset;
  font-weight: normal;
  margin: unset;
}

@media screen and (max-width: 767px) {
  .feature__page section .img__group h3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature__page section .img__group.img__group--default h3 {
  padding-bottom: 1.4em;
}

.feature__page section .img__group.img__group--default span {
  padding-bottom: 1.4em;
}

.feature__page section .img__group.img__group--full + .img__group--full p {
  margin-top: 80px;
  margin-bottom: 40px;
}

.feature__page section .card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .feature__page section .card__group {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.feature__page section .card__item {
  width: 100%;
  margin-bottom: 30px;
}

.feature__page section .card__item:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feature__page section .card__item {
    width: calc((100% - 50px) / 3);
    margin-left: 25px;
    margin-bottom: 50px;
  }
  .feature__page section .card__item:nth-child(3n+1) {
    margin-left: 0;
  }
  .feature__page section .card__item:nth-last-child(2), .feature__page section .card__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}

.feature__page section .card__item:hover .card__title {
  color: #D60C18;
}

.feature__page section .card__title h3 {
  display: block;
  color: #171717;
  font-size: 18px;
  font-weight: normal;
  line-height: unset;
  margin: 0;
}

.feature__page section .card__title {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .feature__page section .card__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature__page section .card__img {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.feature__page section .card__img::before {
  width: 100%;
  padding-top: 66.666667%;
}

.feature__page section .card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature__page section .author__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__page section .author__group li {
  width: 50%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .feature__page section .author__group li {
    width: 20%;
  }
}

.feature__page section .author__group li a {
  display: block;
}

.feature__page section .author__group li a .author__img {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.feature__page section .author__group li a .author__img img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
}

.feature__page section .author__group li a .author__title {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #171717;
  font-size: 1.125em;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media screen and (max-width: 767px) {
  .feature__page section .author__group li a .author__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature__page section .author__group li a:hover .author__title {
  color: #D60C18;
}

.feature__page section .sponsor__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__page section .sponsor__group li {
  width: 50%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .feature__page section .sponsor__group li {
    width: 25%;
  }
}

.feature__page section .sponsor__group li a {
  display: block;
}

.feature__page section .sponsor__group li a img {
  width: 100%;
  height: auto;
}

.feature__page section .embed {
  position: relative;
  width: 100%;
}

.feature__page section .embed:before {
  width: 100%;
}

.feature__page section .embed.embed--16by9:before {
  padding-top: 56.25%;
}

.feature__page section .embed.embed--4by3:before {
  padding-top: 75%;
}

.feature__page section .embed > .embed__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.feature__page section .slideshow {
  position: relative;
}

.feature__page section .slideshow .container {
  width: 100%;
  max-width: 1260px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .feature__page section .slideshow .container {
    width: 85%;
    padding-bottom: 30px;
  }
}

.feature__page section .slideshow .slider {
  position: relative;
  overflow: hidden;
}

.feature__page section .slideshow .slider__wrap {
  position: relative;
}

.feature__page section .slideshow .slider__wrap::before, .feature__page section .slideshow .slider__wrap::after {
  clear: both;
}

.feature__page section .slideshow .slider__item span {
  display: block;
  padding-top: 0.4em;
  padding-bottom: 30px;
  color: #939EA7;
  font-size: 0.875rem;
}

@media screen and (min-width: 1024px) {
  .feature__page section .slideshow .slider__item span {
    padding-bottom: 1.4em;
  }
}

@media screen and (max-width: 767px) {
  .feature__page section .slideshow .slider__item span {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feature__page section .slideshow.slideshow--column .slider__navi {
  position: absolute;
  top: 50%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 4;
}

.feature__page section .slideshow.slideshow--column .slider__navi--prev {
  left: 5px;
}

@media screen and (min-width: 768px) {
  .feature__page section .slideshow.slideshow--column .slider__navi--prev {
    left: 50px;
  }
}

.feature__page section .slideshow.slideshow--column .slider__navi--next {
  right: 5px;
}

@media screen and (min-width: 768px) {
  .feature__page section .slideshow.slideshow--column .slider__navi--next {
    right: 50px;
  }
}

.feature__page section .slideshow.slideshow--column .slider__navi .icon-btn {
  width: 30px;
  height: 100%;
  color: #fff;
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgba(23, 23, 23, 0.5);
}

@media screen and (min-width: 768px) {
  .feature__page section .slideshow.slideshow--column .slider__navi .icon-btn {
    width: 70px;
  }
}

.feature__page section .slideshow.slideshow--column .slider__title {
  position: relative;
  text-shadow: 1px 1px 0 rgba(23, 23, 23, 0.5);
  z-index: 3;
}

.feature__page section .slideshow.slideshow--column .slider__title h1 {
  display: block;
  color: #fff;
  font-weight: 500;
}

.feature__page section .slideshow.slideshow--column .slider__title .h2 {
  display: block;
  color: #D3D5D7;
}

.feature__page section .slideshow.slideshow--column .slider__item::before {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.feature__page section .slideshow.slideshow--column1 .slider__item::before {
  left: 0;
  bottom: 0;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 23, 23, 0)), to(#171717));
  background-image: linear-gradient(top, rgba(23, 23, 23, 0) 0%, #171717 100%);
}

.feature__page section .slideshow.slideshow--column1 .slider__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .feature__page section .slideshow.slideshow--column1 .slider__title {
    text-align: center;
  }
}

.feature__page section .slideshow.slideshow--column2 .slider__item::before {
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(23, 23, 23, 0.5)), to(#171717));
  background-image: linear-gradient(left, rgba(23, 23, 23, 0.5) 0%, #171717 100%);
}

.feature__page section .slideshow.slideshow--column2 .slider__title {
  position: absolute;
}

@media screen and (max-width: 1023px) {
  .feature__page section .slideshow.slideshow--column2 .slider__title {
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .feature__page section .slideshow.slideshow--column2 .slider__title {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.feature__page section .slideshow.slideshow--column2 .slider__title > * {
  max-width: 460px;
}

.feature__page section .slideshow .slider__navi {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 4;
}

.feature__page section .slideshow .slider__navi.slider__navi--prev {
  left: 0;
}

.feature__page section .slideshow .slider__navi.slider__navi--next {
  right: 0;
}

.feature__page section .slideshow .slider__wrap__thumbnail {
  position: relative;
  font-size: 0;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

@media screen and (max-width: 1023px) {
  .feature__page section .slideshow .slider__wrap__thumbnail {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.feature__page section .slideshow .slider__thumbnail {
  overflow: hidden;
}

.feature__page section .slideshow .slider__thumbnail.fixed .slick-track {
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: none !important;
          transform: none !important;
}

.feature__page section .slideshow .slider__thumbnail .thumbnail__img {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 1024px) {
  .feature__page section .slideshow .slider__thumbnail .thumbnail__img {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.feature__page section .slideshow .slider__thumbnail .thumbnail__img::before {
  position: absolute;
  top: 0;
  left: 5px;
  width: calc(100% - 10px);
  height: 100%;
  background-color: #171717;
}

@media screen and (min-width: 1024px) {
  .feature__page section .slideshow .slider__thumbnail .thumbnail__img::before {
    left: 8px;
    width: calc(100% - 16px);
  }
}

.feature__page section .slideshow .slider__thumbnail .thumbnail__img img {
  position: relative;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 2;
}

.feature__page section .slideshow .slider__thumbnail .thumbnail__img.slick-current img {
  opacity: 1;
}

.feature__page p {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.feature__page p.hidden {
  height: 9em;
  overflow: hidden;
}

.feature__page p.hidden::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.feature__page p.hidden + .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.feature__page .sns__group {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 20px;
  font-size: 28px;
  opacity: 0;
  z-index: 5;
}

@media screen and (max-width: 1023px) {
  .feature__page .sns__group {
    right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .feature__page .sns__group {
    bottom: 3em;
    left: calc(910px + (100% - 880px) / 2);
    font-size: 40px;
  }
}

.feature__page .sns__group li + li {
  margin-top: 0.75rem;
}

.feature__page .sns__group li > a.sns {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  .feature__page .sns__group li > a.sns {
    width: 1em;
    height: 1em;
    background-size: 1em;
  }
}

@media screen and (max-width: 1023px) {
  .feature__page .sns__group li > a.sns {
    width: 1.4em;
    height: 1.4em;
    background-size: 1.4em;
  }
}

@media screen and (min-width: 1024px) {
  .feature__page .sns__group li > a.sns-facebook {
    background-image: url("../../img/feature/facebook--secondary.svg");
  }
}

@media screen and (max-width: 1023px) {
  .feature__page .sns__group li > a.sns-facebook {
    background-image: url("../../img/feature/facebook--brand.svg");
  }
}

.feature__page .sns__group li > a.sns-facebook:hover {
  background-image: url("../../img/feature/facebook--brand.svg");
}

@media screen and (min-width: 1024px) {
  .feature__page .sns__group li > a.sns-line {
    background-image: url("../../img/feature/line--secondary.svg");
  }
}

@media screen and (max-width: 1023px) {
  .feature__page .sns__group li > a.sns-line {
    background-image: url("../../img/feature/line--brand.svg");
  }
}

.feature__page .sns__group li > a.sns-line:hover {
  background-image: url("../../img/feature/line--brand.svg");
}
/*# sourceMappingURL=feature.css.map */