$icon-check: unquote('"\\e907"');
$icon-cross: unquote('"\\e909"');
$icon-down: unquote('"\\e90c"');
$icon-left: unquote('"\\e918"');
$icon-minus: unquote('"\\e91f"');
$icon-plus: unquote('"\\e927"');
$icon-right: unquote('"\\e92b"');
$icon-up: unquote('"\\e937"');
