@font-face {
    font-family: '2020';
    src: url('../fonts/2020.eot?yojrw2');
    src: url('../fonts/2020.eot?yojrw2#iefix') format('embedded-opentype'), url('../fonts/2020.ttf?yojrw2') format('truetype'), url('../fonts/2020.woff?yojrw2') format('woff'), url('../fonts/2020.svg?yojrw2#2020') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '2020' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\e903";
}

.icon-instagram:before,
.icon-ig:before {
    content: "\e901";
}

.icon-youtube:before,
.icon-yt:before {
    content: "\e902";
}

.icon-left:before {
    content: "\e91e";
}

.icon-right:before {
    content: "\e91f";
}

.icon-down:before {
    content: "\e920";
}

.icon-up:before {
    content: "\e922";
}

.icon-cancel:before {
    content: "\e92e";
}

.icon-facebook:before,
.icon-fb:before {
    content: "\e900";
}