input,
select,
button {
    @include border-radius(0);
    @include appearance(none);
    &:focus {
        outline: 0;
    }
}

select {
    min-width: 200px;
    padding: 0.925rem 1.925rem 0.925rem .925rem;
    line-height: 1;
    border: 2px solid;
    cursor: pointer;
    @include background-size(0.78125rem);
    background-image: url('../images/down.svg');
    background-position: calc(100% - 0.78125rem) center;
    background-repeat: no-repeat;
    background-color: transparent;
    @include breakpoint(max-width 767px) {
        width: 235px;
    }
}

button {
    border: 0;
    background-color: transparent;
    &.close {
        padding: 0;
        color: #93AAA7;
        font-size: 40px;
        line-height: 1;
        @include transition(color 0.3s);
        span {
            display: block;
            line-height: 24px;
            i {
                display: block;
                font-size: 20px;
                font-weight: bold;
            }
        }
        &:hover {
            color: #597B77;
        }
    }
}