@import '_basic';
@import '_font';
@import '_select';
// ----
$labor_rights:#22AFE3;
$annuity_reform:#55C1E9;
$gender_issues:#7ED1EF;
$education_reform:#A1DBF1;
$energy:#5ECAA4;
$climate_change:#77D9B7;
$surroundings:#93EBCC;
$eco_and_industrial_development:#93AAA7;
$residence_justice:#2FA9AE;
$social_welfare:#2BBEC4;
$returning:#DBC0B2;
$national_identity:#E5B896;
$tw_usa_relations:#F9D956;
$diplomatic:#E8C436;
$cross_strait_relations:#DCB000;
// ----
$ddp: #5ECAA4;
$kmt: #22AFE3;
$tpp: #2BBEC4;
$pfp: #F8B136;
$npp: #DCB000;
$npsu: #B1B1B1;
$other: #343434;
.legislator-page {
    header {
        position: relative;
        @include background-size(cover);
    }
    &.index-page {
        header {
            height: 415vh;
            @media (orientation: landscape) {
                height: 350vh;
            }
            .header-background {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                height: 150vh;
                background-position: bottom center;
                @include background-size(cover);
                background-repeat: no-repeat;
                z-index: -1;
                background-image: url('../images/legislator_opeing-pc.svg');
                @media (orientation: portrait) {
                    background-image: url('../images/legislator_opeing-mb.svg');
                }
            }
            .subtitle_group {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .container {
                height: 100vh;
                @media (orientation: landscape) {
                    height: 80vh;
                }
                @include breakpoint(max-width 374px) {
                    padding-top: 100px;
                    padding-bottom: 150px;
                }
            }
            h1 img {
                height: 90px;
                @include breakpoint(375px) {
                    height: 105px;
                }
                @include breakpoint(768px) {
                    height: 202px;
                }
            }
            h2 {
                margin-bottom: 25px;
                @include breakpoint(768px) {
                    margin-bottom: 60px;
                }
                @include breakpoint(max-width 767px) {
                    margin-right: 30px;
                }
                img {
                    height: 40px;
                    @include breakpoint(768px) {
                        height: 60px;
                    }
                }
            }
            .subtitle {
                padding: 10px 25px;
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                background-color: #fff;
                border: 2px solid #343434;
                @include breakpoint(768px) {
                    padding: 20px 60px;
                }
                span {
                    display: inline-block;
                }
                +.subtitle {
                    margin-top: 20px;
                    @include breakpoint(768px) {
                        margin-top: 40px;
                    }
                }
            }
        }
        section::before {
            background-color: #597B77;
        }
    }
    &.analysis-page {
        header {
            padding-top: 150px;
            padding-bottom: 150px;
            background-image: url('../images/legislative-article-pc.png');
            @media (orientation: portrait) {
                height: 100%;
                padding-top: 75px;
                padding-bottom: 175px;
                background-image: url('../images/legislative-article-mb.png');
            }
            @include breakpoint(max-width 374px) {
                padding-top: 100px;
                padding-bottom: 150px;
            }
            h1 img {
                height: 90px;
                @include breakpoint(375px) {
                    height: 109px;
                }
                @include breakpoint(768px) {
                    height: 145px;
                }
            }
            h2 {
                margin-right: 30px;
                margin-bottom: 33px;
                @include breakpoint(375px) {
                    margin-right: 32px;
                    margin-bottom: 35px;
                }
                @include breakpoint(768px) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                img {
                    height: 35px;
                    @include breakpoint(375px) {
                        height: 42px;
                    }
                }
            }
        }
        section {
            &::after {
                background-color: #597B77;
            }
            &:last-child::after {
                background-color: transparent;
            }
        }
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    span {
        display: inline-block;
    }
}

section {
    position: relative;
    padding: 50px 0;
    @include breakpoint(768px) {
        padding: 40px 0 120px;
    }
    &::before,
    &::after {
        @extend %before-after;
        position: relative;
        left: 50%;
        width: 30px;
        height: 4px;
        @include translateX(-50%);
    }
    &::before {
        top: -42px;
    }
    &::after {
        bottom: -42px;
    }
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    @include breakpoint(768px) {
        font-size: 40px;
    }
    span {
        display: inline-block;
    }
}

h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    @include breakpoint(768px) {
        font-size: 24px;
    }
}

p {
    font-size: 18px;
    a.btn {
        display: inline-block;
        padding: 5px 25px;
        margin-left: 5px;
        color: #343434;
        font-size: 17px;
        line-height: 1;
        vertical-align: middle;
        border: 1px solid #343434;
        &:hover {
            color: #fff;
            background-color: #597B77;
        }
    }
    &.search {
        font-size: 1rem;
        a {
            color: #343534;
            text-decoration: underline;
            &:hover {
                color: #597B77;
            }
        }
    }
}

.page__essay {
    padding: 130px 0 100px 0;
}

.method__essay {
    padding-top: 80px;
    padding-bottom: 100px;
    >* {
        font-size: 15px;
    }
}

.title_group {
    .order {
        font-size: 50px;
        line-height: 1.5;
        @include breakpoint(768px) {
            display: inline-block;
            margin-right: 15px;
            font-size: 114px;
            line-height: 1;
        }
    }
    .text {
        font-size: 26px;
        line-height: 1.3;
        @include breakpoint(768px) {
            font-size: 38px;
        }
    }
}

.further__block {
    .h4 {
        font-size: 21px;
        font-weight: 600;
    }
    ul {
        @extend %list-reset;
        font-size: 24px;
        li {
            margin-top: 1em;
            margin-bottom: 1em;
            &:first-child a {
                color: $kmt;
            }
            &:last-child a {
                color: $ddp;
            }
            a:hover {
                color: #343434;
            }
        }
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5em;
            font-size: 30px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.form-group-title {
    i {
        display: inline-block;
        vertical-align: text-top;
    }
    @include breakpoint(max-width 767px) {
        i {
            display: none;
        }
    }
}

.click__alert {
    position: absolute;
    top: 70px;
    right: 70px;
    padding: 60px 0 0 60px;
    z-index: 3;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        @extend %before-after;
        width: 100px;
        height: 100px;
        background-color: rgb(252, 247, 87);
        @include border-radius(50%);
        @include opacity(0.75);
        z-index: -1;
    }
}

.candidate__item {
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid;
    @include breakpoint(768px) {
        padding: 30px 60px;
        margin-bottom: 40px;
    }
    .candidate__base {
        &::before,
        &::after {
            @extend %before-after;
            @include breakpoint(max-width 767px) {
                clear: both;
            }
        }
    }
    .candidate__img {
        position: relative;
        @include border-radius(50%);
        @include breakpoint(max-width 767px) {
            display: inline-block;
            margin-right: 10px;
            width: 65px;
            height: 65px;
            vertical-align: middle;
        }
        @include breakpoint(768px) {
            float: left;
            margin-right: 30px;
            width: 100px;
            height: 100px;
        }
        img {
            display: block;
            margin: auto;
            width: 100%;
            height: 100%;
            border: 1px solid;
            @include border-radius(50%);
            &.selected {
                position: absolute;
                right: -5px;
                bottom: 0px;
                width: 30px;
                height: auto;
                border: 0;
                @include rotate(-30deg);
            }
        }
    }
    .candidate__name {
        display: inline-block;
        @include breakpoint(max-width 767px) {
            vertical-align: middle;
        }
        @include breakpoint(768px) {
            vertical-align: top;
        }
        .name {
            &.name--han {
                color: #000;
                font-size: 24px;
                font-weight: 600;
                line-height: 34px;
                @include breakpoint(max-width 767px) {
                    line-height: 1.15;
                }
                .age {
                    display: inline-block;
                    margin-left: 12px;
                    color: #666;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1;
                    vertical-align: middle;
                }
            }
            &.name--eng {
                color: #666;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
    .candidate__detail {
        @include breakpoint(768px) {
            display: inline-block;
            vertical-align: top;
        }
    }
    .candidate__perform,
    .candidate__family {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        padding: 6px 10px 4px;
        color: #F5F5F5;
        font-size: 16px;
        line-height: 1;
        border: 1px solid #3E3E3E;
        background-color: #3E3E3E;
        cursor: pointer;
        @include transition(all 0.3s);
        @include breakpoint(768px) {
            padding: 8px 20px;
        }
        >i {
            margin-left: 8px;
            font-size: 12px;
            font-weight: bold;
        }
        &:hover {
            border: 1px solid #000;
            background-color: #000;
        }
    }
    .candidate__name {
        @include breakpoint(768px) {
            margin-right: 48px;
        }
        @include breakpoint(max-width 767px) {
            width: calc(100% - 95px);
            margin-right: 20px;
        }
    }
    .candidate__keyword {
        width: 100%;
        @include breakpoint(768px) {
            padding: 16px 0 0 130px;
        }
        @include breakpoint(max-width 767px) {
            margin-top: 1rem;
        }
        &::before,
        &::after {
            @extend %before-after;
            @include breakpoint(max-width 767px) {
                clear: both;
            }
        }
        li {
            position: relative;
            display: inline-block;
            margin-bottom: 7px;
            padding: 8px 5px 4px;
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            cursor: pointer;
            z-index: 2;
            @include breakpoint(768px) {
                margin-left: -17px;
                margin-right: 17px;
                padding: 12px 17px 8px;
                font-size: 20px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                font-size: 30px;
                @include breakpoint(768px) {
                    font-size: 40px;
                }
            }
            &:nth-child(3),
            &:nth-child(4) {
                font-size: 24px;
                @include breakpoint(768px) {
                    font-size: 30px;
                }
            }
            &::before {
                @extend %before-after;
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #FCF757;
                @include transition(width 0.3s);
                z-index: -1;
            }
            &:hover::before {
                width: 100%;
            }
        }
        &.disabled {
            li {
                padding: 0;
                color: $npsu;
                font-size: 20px;
                cursor: not-allowed;
                @include breakpoint(768px) {
                    padding: 0 17px;
                }
                &::before {
                    background-color: transparent;
                }
            }
        }
    }
    .candidate__party {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 2em;
        padding: 0.67em 0.5em 0.7em;
        color: #fff;
        font-size: 0.875em;
        text-align: center;
        line-height: 1.3;
        @include breakpoint(768px) {
            width: 2.4em;
            padding: 0.67em 0.7em 0.7em;
        }
    }
    &.candidate--kmt {
        border-color: $kmt;
        .candidate__img {
            background-color: $kmt;
            img {
                border-color: $kmt;
            }
        }
        .candidate__keyword {
            color: $kmt;
        }
        .candidate__party {
            background-color: $kmt;
        }
    }
    &.candidate--ddp {
        border-color: $ddp;
        .candidate__img {
            background-color: $ddp;
            img {
                border-color: $ddp;
            }
        }
        .candidate__keyword {
            color: $ddp;
        }
        .candidate__party {
            background-color: $ddp;
        }
    }
    &.candidate--tpp {
        border-color: $tpp;
        .candidate__img {
            background-color: $tpp;
            img {
                border-color: $tpp;
            }
        }
        .candidate__keyword {
            color: $tpp;
        }
        .candidate__party {
            background-color: $tpp;
        }
    }
    &.candidate--pfp {
        border-color: $pfp;
        .candidate__img {
            background-color: $pfp;
            img {
                border-color: $pfp;
            }
        }
        .candidate__keyword {
            color: $pfp;
        }
        .candidate__party {
            background-color: $pfp;
        }
    }
    &.candidate--npp {
        border-color: $npp;
        .candidate__img {
            background-color: $npp;
            img {
                border-color: $npp;
            }
        }
        .candidate__keyword {
            color: $npp;
        }
        .candidate__party {
            background-color: $npp;
        }
    }
    &.candidate--npsu {
        border-color: $npsu;
        .candidate__img {
            background-color: $npsu;
            img {
                border-color: $npsu;
            }
        }
        .candidate__keyword {
            color: $npsu;
        }
        .candidate__party {
            background-color: $npsu;
        }
    }
    &.candidate--other {
        border-color: $other;
        .candidate__img {
            background-color: $other;
            img {
                border-color: $other;
            }
        }
        .candidate__keyword {
            color: $other;
        }
        .candidate__party {
            background-color: $other;
        }
    }
}

.modal-header,
.modal-footer {
    border: 0px;
}

.perform__model,
.family__model {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    padding: 20px;
    color: #fff;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 3px 6px rgba(46, 46, 46, 0.25);
    z-index: 1;
    .perform__title,
    .family__title {
        font-size: 18px;
        font-weight: 600;
    }
}

.model__close {
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &::before,
    &::after {
        @extend %before-after;
        width: 20px;
        height: 3px;
        background-color: #93AAA7;
        @include border-radius(3px);
    }
    &::before {
        @include transform(rotate(45deg) translate(6px,
        6px));
    }
    &::after {
        @include transform(rotate(-45deg) translate(-4px,
        4px));
    }
}

.rate__block {
    margin: 0;
    padding: 0;
    list-style: none;
    .remark {
        color: #93AAA7;
        font-size: 15px;
    }
    li {
        border-bottom: 1px solid #777777;
        >* {
            display: inline-block;
            vertical-align: middle;
        }
        .title {
            width: calc(100% - 80px);
            padding: 10px 0;
            font-size: 16px;
            span {
                display: inline-block;
                color: #E5E5E5;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.3;
                vertical-align: middle;
            }
        }
        .rate {
            width: 80px;
            font-size: 18px;
            text-align: center;
        }
    }
}

.keyword__block {
    span.date {
        display: inline-block;
        padding: 0 6px;
        margin-right: 5px;
        color: #fff;
        font-size: 14px;
        vertical-align: middle;
        background-color: $npsu;
        // @include border-radius(20px);
    }
    >div {
        display: inline;
        a {
            margin-right: 5px;
            color: $other;
            font-size: 14px;
            font-weight: 300;
            line-height: 2;
            @include transition(all 0.3s);
            &:hover {
                color: #597B77;
            }
        }
        .icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin-right: 5px;
            color: $other;
            font-size: 15px;
            vertical-align: middle;
            &::before {
                display: inline-block;
            }
        }
    }
}

.opacity {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.tab__group {
    ul.tab__nav {
        @include breakpoint(max-width 991px) {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    select#tab_nav {
        display: block;
        margin: auto;
        @include breakpoint(992px) {
            position: absolute;
            width: 0;
            height: 0;
            padding: 0;
            border: 0;
            overflow: hidden !important;
        }
    }
    .tab__nav {
        font-size: 0;
        li {
            display: inline-block;
            width: 125px;
            margin: 6px;
            font-size: 16px;
            color: #343434;
            line-height: 40px;
            text-align: center;
            border: 2px solid #707070;
            cursor: pointer;
            @include transition(background 0.1s);
            @include breakpoint(1200px) {
                width: 170px;
                margin: 13px;
                font-size: 20px;
                line-height: 50px;
            }
            &.active,
            &:hover {
                &[data-value*="labor_rights"] {
                    background-color: $labor_rights;
                }
                &[data-value*="annuity_reform"] {
                    background-color: $annuity_reform;
                }
                &[data-value*="gender_issues"] {
                    background-color: $gender_issues;
                }
                &[data-value*="education_reform"] {
                    background-color: $education_reform;
                }
                &[data-value*="energy"] {
                    background-color: $energy;
                }
                &[data-value*="climate_change"] {
                    background-color: $climate_change;
                }
                &[data-value*="surroundings"] {
                    background-color: $surroundings;
                }
                &[data-value*="eco_and_industrial_development"] {
                    background-color: $eco_and_industrial_development;
                }
                &[data-value*="residence_justice"] {
                    background-color: $residence_justice;
                }
                &[data-value*="social_welfare"] {
                    background-color: $social_welfare;
                }
                &[data-value*="returning"] {
                    background-color: $returning;
                }
                &[data-value*="national_identity"] {
                    background-color: $national_identity;
                }
                &[data-value*="tw_usa_relations"] {
                    background-color: $tw_usa_relations;
                }
                &[data-value*="diplomatic"] {
                    background-color: $diplomatic;
                }
                &[data-value*="cross_strait_relations"] {
                    background-color: $cross_strait_relations;
                }
            }
        }
    }
    .tab__item {
        // height: 0;
        // overflow: hidden;
        // &.active {
        //     height: auto;
        //     overflow: visible;
        // }
        .img__chart {
            padding-top: 30px;
            padding-bottom: 60px;
            @include breakpoint(768px) {
                padding-top: 60px;
                padding-bottom: 120px;
            }
            @include breakpoint(max-width 767px) {
                margin-left: -5px;
                margin-right: -5px;
            }
        }
        &[data-item*="eco_and_industrial_development"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $eco_and_industrial_development;
            }
        }
        &[data-item*="labor_rights"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $labor_rights;
            }
        }
        &[data-item*="surroundings"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $surroundings;
            }
        }
        &[data-item*="energy"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $energy;
            }
        }
        &[data-item*="climate_change"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $climate_change;
            }
        }
        &[data-item*="annuity_reform"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $annuity_reform;
            }
        }
        &[data-item*="gender_issues"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $gender_issues;
            }
        }
        &[data-item*="education_reform"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $education_reform;
            }
        }
        &[data-item*="residence_justice"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $residence_justice;
            }
        }
        &[data-item*="national_identity"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $national_identity;
            }
        }
        &[data-item*="cross_strait_relations"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $cross_strait_relations;
            }
        }
        &[data-item*="tw_usa_relations"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $tw_usa_relations;
            }
        }
        &[data-item*="diplomatic"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $diplomatic;
            }
        }
        &[data-item*="returning"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $returning;
            }
        }
        &[data-item*="social_welfare"] {
            .hot__content span,
            .img__chart .chart--line .line span {
                background-color: $social_welfare;
            }
        }
    }
}

.hot__block,
.hot__group {
    .hot__item {
        display: inline;
        +.hot__item .date {
            margin-left: 5px
        }
    }
    .hot__content {
        position: relative;
        display: inline;
        font-size: 14px;
        line-height: 2;
        .date {
            display: inline-block;
            padding: 0 6px;
            vertical-align: middle;
        }
        b {
            display: inline-block;
            margin-left: 10px;
            margin-right: 5px;
            vertical-align: middle;
        }
        i {
            display: inline-block;
            vertical-align: middle;
        }
        >a {
            // display: inline;
            color: #343434;
            word-break: break-all;
            // cursor: pointer;
            &:focus {
                outline: 0;
            }
            &:hover {
                color: #597B77;
            }
            +.date {
                margin-left: 5px;
            }
        }
    }
}

.hot__block .hot__item {
    &.eco_and_industrial_development {
        .date {
            background-color: $eco_and_industrial_development;
        }
    }
    &.labor_rights {
        .date {
            background-color: $labor_rights;
        }
    }
    &.surroundings {
        .date {
            background-color: $surroundings;
        }
    }
    &.energy {
        .date {
            background-color: $energy;
        }
    }
    &.climate_change {
        .date {
            background-color: $climate_change;
        }
    }
    &.annuity_reform {
        .date {
            background-color: $annuity_reform;
        }
    }
    &.gender_issues {
        .date {
            background-color: $gender_issues;
        }
    }
    &.education_reform {
        .date {
            background-color: $education_reform;
        }
    }
    &.residence_justice {
        .hot__content span,
        .img__chart .chart--line .line span {
            background-color: $residence_justice;
        }
    }
    &.national_identity {
        .date {
            background-color: $national_identity;
        }
    }
    &.cross_strait_relations {
        .date {
            background-color: $cross_strait_relations;
        }
    }
    &.tw_usa_relations {
        .date {
            background-color: $tw_usa_relations;
        }
    }
    &.diplomatic {
        .date {
            background-color: $diplomatic;
        }
    }
    &.returning {
        .date {
            background-color: $returning;
        }
    }
    &.social_welfare {
        .date {
            background-color: $social_welfare;
        }
    }
}

.hot__group {
    .slick-slide {
        padding: 0 27px;
    }
    .hot__item {
        position: relative;
        padding-bottom: 10px;
        border-top: 3px solid #343434;
    }
    .hot__title {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
    }
    .hot__more {
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 0 12px;
        color: #343434;
        font-size: 16px;
        line-height: 33px;
        border: 1px solid #343434;
        @include translateX(-50%);
        @include transition(all 0.3s);
        cursor: pointer;
        &:hover {
            color: #fff;
            background-color: #597B77;
        }
    }
    .hot__content {
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &::after {
            @extend %before-after;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 6em;
            @include background-image(linear-gradient(top,
            rgba(255,
            255,
            255,
            0) 0%,
            rgba(255,
            255,
            255,
            1) 75%,
            rgba(255,
            255,
            255,
            1) 100%));
        }
    }
}

.img__chart {
    .chart {
        width: 83%;
        margin: 0 10px;
        @include breakpoint(768px) {
            margin: 0 10px 0 20px;
        }
    }
    .chart--yAxis {
        font-size: 16px;
        line-height: 20px;
        word-break: keep-all;
        @include breakpoint(768px) {
            font-size: 20px;
        }
        >div {
            margin-top: 15px;
        }
    }
    .chart--number {
        font-size: 14px;
        line-height: 20px;
        @include breakpoint(768px) {
            font-size: 16px;
        }
        >div {
            margin-top: 15px;
        }
    }
    .chart--xAxis {
        position: relative;
        height: 14px;
        color: #A2A2A2;
        font-size: 14px;
        @include breakpoint(768px) {
            font-size: 16px;
            height: 16px;
        }
        .xAxis {
            position: absolute;
            @include translateX(-50%);
            &.xAxis--0 {
                left: 0;
            }
            &.xAxis--50 {
                left: 50%;
            }
            &.xAxis--100 {
                left: 100%;
            }
        }
    }
    .chart--line {
        position: relative;
        .divi {
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #fff;
            z-index: 1;
            &.divi--25 {
                left: 25%;
            }
            &.divi--50 {
                left: calc(50% - 1px);
            }
            &.divi--75 {
                left: 75%;
            }
        }
        .line {
            position: relative;
            width: 100%;
            height: 20px;
            margin-top: 15px;
            background-color: #EFEFEF;
            border: 1px solid #343434;
            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                // width: 50%;
                height: 100%;
                border-right: 1px solid #343434;
                @include transition(width 0.3s);
            }
        }
    }
}

svg {
    display: block;
    &.keychart--donut {
        margin: auto;
        .item-group {
            rect,
            polygon,
            .number {
                @include opacity(0);
                @include transition(opacity 0.3s);
            }
            &:hover {
                rect,
                polygon,
                .number {
                    @include opacity(1);
                }
            }
        }
    }
}

.keychart--bar {
    font-size: 15px;
    line-height: 20px;
    word-break: keep-all;
    >div>div {
        margin-bottom: 10px;
    }
    &.active .bar--line>.line {
        border: 1px solid #343434;
    }
    .bar--line {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        >.line {
            width: 0%;
            height: 20px;
            @include transition(width 0.3s);
            &.labor_rights {
                background-color: $labor_rights;
            }
            &.annuity_reform {
                background-color: $annuity_reform;
            }
            &.gender_issues {
                background-color: $gender_issues;
            }
            &.education_reform {
                background-color: $education_reform;
            }
            &.energy {
                background-color: $energy;
            }
            &.climate_change {
                background-color: $climate_change;
            }
            &.surroundings {
                background-color: $surroundings;
            }
            &.eco_and_industrial_development {
                background-color: $eco_and_industrial_development;
            }
            &.residence_justice {
                background-color: $residence_justice;
            }
            &.social_welfare {
                background-color: $social_welfare;
            }
            &.returning {
                background-color: $returning;
            }
            &.national_identity {
                background-color: $national_identity;
            }
            &.tw_usa_relations {
                background-color: $tw_usa_relations;
            }
            &.diplomatic {
                background-color: $diplomatic;
            }
            &.cross_strait_relations {
                background-color: $cross_strait_relations;
            }
        }
    }
    .bar--number {
        color: #b1b1b1;
    }
    .bar--xAxis {
        position: relative;
        width: 100%;
        height: 14px;
        color: #A2A2A2;
        font-size: 14px;
        border: 0;
        @include breakpoint(768px) {
            font-size: 16px;
            height: 16px;
        }
        .xAxis {
            position: absolute;
            padding-bottom: 5px;
            @include translateX(-50%);
            &::before {
                @extend %before-after;
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 1px;
                height: 5px;
                background-color: #A2A2A2;
                @include translateX(-50%);
            }
            &.xAxis--0 {
                left: 0;
            }
            &.xAxis--20 {
                left: 100%;
            }
        }
    }
    &.active {
        .bar--line {}
    }
}

.remark_block {
    p {
        color: #343434;
        font-size: 15px;
    }
}

@include keyframes(keychart) {
    0% {
        @include opacity(0);
    }
    100% {
        @include opacity(1);
    }
}

.imgGroup--hide {
    position: relative;
    .imgGroup {
        position: relative;
        height: 300px;
        overflow: hidden;
        &::after {
            @extend %before-after;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50%;
            @include opacity(0);
            @include background-image(linear-gradient(top,
            rgba(255,
            255,
            255,
            0) 0%,
            rgba(255,
            255,
            255,
            1) 75%,
            rgba(255,
            255,
            255,
            1) 100%));
        }
        &.hide::after {
            @include opacity(1);
        }
    }
    .btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 0 25px;
        color: #343434;
        font-size: 16px;
        line-height: 33px;
        border: 1px solid #343434;
        cursor: pointer;
        @include translateX(-50%);
        &:hover {
            color: #fff;
            background-color: #597B77;
        }
    }
}